[2019-02-07 02:01] CoshUS opened #1 "Django Back-end Models"

[2019-02-07 02:01] CoshUS opened #2 "Dictionary Importer"

[2019-02-07 02:01] CoshUS opened #3 "PWA Loading"

[2019-02-07 02:02] CoshUS opened #4 "Website Basic Structure"

[2019-02-07 02:07] CoshUS opened #5 "Project Test Issue"

[2019-02-07 02:07] #5 closed, assigned to nobody

[2019-02-08 19:23] #1 closed, assigned to nobody

[2019-02-08 19:23] #2 closed, assigned to nobody

[2019-02-08 19:23] #3 closed, assigned to nobody

[2019-02-08 19:23] #4 closed, assigned to nobody

[2019-02-14 20:57] pineo opened #6 "Deploy Django environment"

[2019-02-14 20:57] pineo opened #7 "Deploy React environment"

[2019-02-14 20:58] pineo opened #8 "Development Server Instance"

[2019-02-14 21:01] pineo opened #9 "Cree Dictionary XML Parsing"

[2019-02-14 21:01] pineo opened #10 "Save XML dictionary to SQLite database"

[2019-02-14 21:06] pineo opened #11 "Deploy basic front end web design"

[2019-02-14 21:06] pineo opened #12 "Deploy front end search entry functionality"

[2019-02-14 21:07] pineo opened #13 "Send request from front end to back end"

[2019-02-14 21:07] pineo opened #14 "Return word & definition from back end to front end"

[2019-02-14 21:08] pineo opened #15 "Create SQLite database tables"

[2019-02-14 21:13] pineo opened #16 "Search word in FST analyzer to produce word definition pairs"

[2019-02-14 21:14] pineo opened #17 "display all words returned with definition in front end"

[2019-02-14 21:16] pineo opened #18 "Recognize whether user input is English, SRO cree or Syllabic Cree"

[2019-02-15 17:40] #6 closed, assigned to nobody

[2019-02-15 17:40] #7 closed, assigned to nobody

[2019-02-15 17:40] #10 closed, assigned to nobody

[2019-02-15 17:40] #11 closed, assigned to nobody

[2019-02-15 17:40] #12 closed, assigned to nobody

[2019-02-15 17:40] #13 closed, assigned to nobody

[2019-02-15 17:40] #14 closed, assigned to nobody

[2019-02-15 17:40] #15 closed, assigned to nobody

[2019-02-15 17:40] #16 closed, assigned to nobody

[2019-02-15 17:40] #17 closed, assigned to nobody

[2019-02-15 17:40] #18 closed, assigned to nobody

[2019-02-15 17:41] CoshUS opened #19 "Django Class Models"

[2019-02-15 17:44] CoshUS opened #20 "Django Views"

[2019-02-15 17:44] CoshUS opened #21 "Paradigm Layout Files and Parser"

[2019-02-15 17:45] CoshUS opened #22 "Generic PWA Caching"

[2019-02-15 17:45] CoshUS opened #23 "Home Non-functional HTML and CSS Structure"

[2019-02-15 17:45] CoshUS opened #24 "Generate Paradigms"

[2019-02-15 17:46] CoshUS opened #25 "Import to SQLite"

[2019-02-15 17:46] CoshUS opened #26 "Determine Input Languages"

[2019-02-15 17:46] CoshUS opened #27 "Lemma Context Search (Fuzzy and Exact)"

[2019-02-15 17:46] CoshUS opened #28 "Lemma Definition Search"

[2019-02-15 17:46] CoshUS opened #29 "/search? GET Request Handling"

[2019-02-15 17:47] CoshUS opened #30 "React Components"
SearchButton
SearchBar
Cards

[2019-02-15 17:47] CoshUS opened #31 "Search Bar Syllabic Buttons"

[2019-02-15 17:47] CoshUS opened #32 "Language Selection"

[2019-02-15 17:48] CoshUS opened #33 "Language Text Update for React Components"

[2019-02-15 17:48] CoshUS opened #34 "Display Results Non-functional HTML and CSS Structure"

[2019-02-15 17:48] CoshUS opened #35 "Home -> Display Result Animation"

[2019-02-15 17:48] CoshUS opened #36 "Search Bar AJAX Request"

[2019-02-15 17:48] CoshUS opened #37 "/display? GET Request Handling"

[2019-02-15 17:49] CoshUS opened #38 "Deployment Scripts"

[2019-02-15 17:49] CoshUS opened #39 "Production Server"

[2019-02-15 17:49] CoshUS opened #40 "Display Word Non-functional HTML and CSS Structure"

[2019-02-15 17:49] CoshUS opened #41 "Search Result -> Display Word Animation"

[2019-02-15 17:49] CoshUS opened #42 "Front-end Paradigm Tabs"

[2019-02-15 17:50] CoshUS opened #43 "Generate Front-end Paradigm Table"

[2019-02-27 03:58] pineo opened #44 "Meeting Minutes"
Add attendance to the meeting minutes

[2019-02-27 03:58] #44 closed, assigned to pineo

[2019-02-27 04:00] pineo opened #45 "Gantt chart"
Create a Gantt chart

[2019-02-27 04:01] pineo opened #46 "Release Plan"
Update and add more detail to the release plan

[2019-02-27 04:01] pineo opened #47 "Task Breakdown"
Breakdown sprints further by week.

[2019-02-27 04:02] pineo opened #48 "Update Glossary"
The glossary should include terms that are used but may have a distinctive meaning in your project

[2019-02-27 04:03] pineo opened #49 "Create GitHub issues"
They should better reflect the release plan

[2019-02-27 04:03] pineo opened #50 "Meeting Minute Context"
Add context to the meeting minutes to better understand the objective or outcome of the meeting

[2019-02-27 04:04] pineo opened #51 "Meeting Minutes Linked in the footer"
Remove the meeting minute link from the footer.

[2019-02-27 04:04] pineo opened #52 "Architecture diagram"
High level design does not contain architecture diagram (ie. how will the frontend and backend interact?) and technologies to be used are not listed anywhere (beyond the UML diagram saying "Django models")

[2019-02-27 04:05] pineo opened #53 "UML Diagram Code Architecture"
Code architecture is not clear from UML diagram. It looks like the only entities contained are some database models.

[2019-02-27 04:06] pineo opened #54 "Link the UI Navigation diagram to stories"
UI Navigation diagram does not have links to user stories, or descriptions of the screens.

[2019-02-27 04:06] pineo opened #55 "Clean up Grammar in Use Cases"
Use cases have some grammatical inconsistencies that make them hard to follow

[2019-02-27 04:07] pineo opened #56 "Add use cases for architectural requirements"
Use cases do not cover the architectural requirements. (eg. As an administrator, I want the ability to import new words)

[2019-02-27 04:07] pineo opened #57 "Update use cases to be more specific"
Use cases could be broken down. It's hard to tell if they're incomplete as they are not specific enough.

[2019-02-27 21:07] #46 closed, assigned to pineo

[2019-02-27 21:07] #45 closed, assigned to pineo

[2019-02-28 18:58] #57 closed, assigned to pineo

[2019-02-28 18:58] #47 closed, assigned to pineo

[2019-02-28 18:58] #48 closed, assigned to pineo

[2019-02-28 18:58] #51 closed, assigned to pineo

[2019-02-28 18:58] #55 closed, assigned to pineo

[2019-02-28 18:58] #56 closed, assigned to pineo

[2019-02-28 19:24] #19 closed, assigned to CoshUS

[2019-02-28 20:24] pineo opened #59 "React Deployment"

[2019-02-28 20:24] pineo opened #60 "Django Deployment"

[2019-02-28 20:24] pineo opened #61 "Cree Word Inflection Generation"

[2019-02-28 20:25] pineo opened #62 "Cree Word Query"

[2019-02-28 20:25] pineo opened #63 "Cree Word Inflection Query"

[2019-02-28 20:26] pineo opened #64 "Backend Receive Search Request"

[2019-02-28 20:26] pineo opened #65 "Backend Return Search Results"

[2019-02-28 20:27] pineo opened #66 "Importer Test Coverage"

[2019-02-28 20:27] pineo opened #67 "Basic Front End CSS Formatting"

[2019-02-28 20:27] pineo opened #68 "Basic Front End JS Formatting"

[2019-02-28 20:28] pineo opened #69 "Front end Send Search Request"

[2019-02-28 20:28] pineo opened #70 "Front End Receive Search Response"

[2019-02-28 20:29] pineo opened #71 "Display Retrieved Words"

[2019-02-28 20:29] pineo opened #72 "Display Retrieved Inflections"

[2019-02-28 20:29] pineo opened #73 "Front End Test Coverage"

[2019-02-28 20:40] #40 closed, assigned to nobody

[2019-02-28 20:40] #9 closed, assigned to nobody

[2019-02-28 20:40] #20 closed, assigned to CoshUS

[2019-02-28 20:41] #52 closed, assigned to nobody

[2019-02-28 20:41] #53 closed, assigned to nobody

[2019-02-28 20:41] #54 closed, assigned to nobody

[2019-02-28 20:43] #61 closed, assigned to nobody

[2019-02-28 20:43] #63 closed, assigned to nobody

[2019-02-28 20:44] #62 closed, assigned to nobody

[2019-02-28 20:45] #66 closed, assigned to nobody

[2019-02-28 20:45] #65 closed, assigned to nobody

[2019-02-28 20:45] #64 closed, assigned to nobody

[2019-02-28 20:49] #25 closed, assigned to CoshUS

[2019-02-28 20:51] #30 closed, assigned to nobody

[2019-02-28 20:52] #24 closed, assigned to CoshUS

[2019-02-28 20:53] #29 closed, assigned to nobody

[2019-02-28 20:54] #21 closed, assigned to nobody

[2019-02-28 20:57] #37 closed, assigned to nobody

[2019-02-28 21:04] #72 closed, assigned to nobody

[2019-02-28 21:05] #71 closed, assigned to nobody

[2019-02-28 21:05] #70 closed, assigned to nobody

[2019-02-28 21:05] #69 closed, assigned to nobody

[2019-02-28 21:05] #68 closed, assigned to nobody

[2019-02-28 21:05] #67 closed, assigned to nobody

[2019-03-01 01:51] #60 closed, assigned to nobody

[2019-03-01 01:52] #59 closed, assigned to nobody

[2019-03-01 01:54] pineo opened #74 "Simplify Search Algorithm"

[2019-03-01 01:55] pineo opened #75 "Offline Formatting"

[2019-03-01 01:55] pineo opened #76 "Offline Search"

[2019-03-01 01:56] pineo opened #77 "Administrator FST Upload"

[2019-03-01 01:56] pineo opened #78 "Administrator Dictionary Upload"
``

[2019-03-01 01:57] pineo opened #79 "Optimized JS & CSS Code for Paradigm Table"

[2019-03-01 01:58] pineo opened #80 "Front End Web Page Language Modification"

[2019-03-01 02:00] #49 closed, assigned to pineo

[2019-03-01 02:00] #50 closed, assigned to pineo

[2019-03-11 18:51] CoshUS opened #81 "CI Integration"
Set Up Travis CI to Project

[2019-03-17 12:07] #27 closed, assigned to CoshUS

[2019-03-17 12:08] #26 closed, assigned to CoshUS

[2019-03-17 12:08] #28 closed, assigned to CoshUS

[2019-03-19 21:23] CoshUS opened #82 "Syllabic Translator"

[2019-03-19 21:37] CoshUS opened #83 "Linguistic Analysis"

[2019-03-19 22:11] #35 closed, assigned to nobody

[2019-03-19 22:12] #22 closed, assigned to nobody

[2019-03-19 22:14] #36 closed, assigned to nobody

[2019-03-19 22:14] #23 closed, assigned to nobody

[2019-03-20 01:07] #8 closed, assigned to nobody

[2019-03-20 03:26] #82 closed

[2019-03-21 07:34] #43 closed

[2019-03-21 12:17] CoshUS commented on #33
Duplicate with #80

[2019-03-21 12:17] #33 closed

[2019-03-21 12:26] #81 closed

[2019-03-21 19:01] CoshUS opened #85 "Front-end CSS Matching Mock Up"

[2019-03-21 22:08] #34 closed

[2019-03-21 22:09] #31 closed

[2019-03-21 22:09] #73 closed

[2019-03-22 01:31] CoshUS opened #86 "Search Result Limit"

[2019-03-25 09:25] CoshUS commented on #86
Added in 5c418c494cfe940a29a4c8a78cd56245caef49bb

[2019-03-25 09:25] #86 closed

[2019-03-27 22:29] #41 closed

[2019-03-27 22:31] CoshUS opened #87 "Refactor Plan"

[2019-03-29 18:06] dchui1 opened #88 "If word doesn't exist, site says it is "loading" forever"

[2019-03-29 19:19] pineo opened #89 "Inflectional Forms Incorrect Generation on suffix and prefix"

[2019-04-02 05:00] CoshUS opened #90 "Cypress CI Tests"

[2019-04-02 05:57] #74 closed

[2019-04-02 08:04] #90 closed

[2019-04-03 21:13] CoshUS commented on #85
Changed to "Good to Have" due to the request of using bootstrap template.

[2019-04-03 22:39] #88 closed

[2019-04-03 22:39] #32 closed

[2019-04-03 22:39] #42 closed

[2019-04-03 22:39] CoshUS commented on #42
Changed to detail tag per client request.

[2019-04-03 22:40] #80 closed

[2019-04-04 00:07] #87 closed

[2019-04-04 05:42] #83 closed

[2019-04-04 06:59] CoshUS opened #91 "Missing Inflection in Words with Multiple Types"

[2019-04-04 07:00] CoshUS commented on #89
Inflected Cree word forms with features that precede
the lemma (in the analyses), e.g. with reduplication (RdplW+, RdplS+) or
preverbs (anything with PV/...+) (or initial change: IC+), appear to
only show the first feature and are not matched with the lemma.

[2019-04-04 07:01] #78 closed

[2019-04-04 07:01] #77 closed

[2019-04-04 07:01] #38 closed

[2019-04-04 08:31] #39 closed

[2019-04-04 08:31] #91 closed

[2019-04-05 06:51] pineo opened #92 "Refactor code to generate the Paradigm Table"
Client did not like the code quality for the generation of the paradigm tables. It needs to be refactored so it may be used with multiple languages and paradigm formats.

[2019-04-05 06:51] pineo commented on #92
Code has been refactored to the clients standards

[2019-04-05 06:51] #92 closed

[2019-04-05 06:52] pineo opened #93 "Paradigm generation is incorrect"
Some of the formats the paradigm generation has does not match its proper inflectional form.

[2019-04-05 06:52] pineo commented on #93
Re-thought the search algorithm to match the proper inflectional forms, and all testing leads me to believe that the fixes are proper.

[2019-04-05 06:52] #93 closed

[2019-04-05 06:53] pineo opened #94 "Paradigm generation on words that do not have a paradigm should show "N/A""
Rather than show the inflectional equation, it should show N/A if there is no match during the paradigm table generation.

[2019-04-05 06:53] pineo commented on #94
N/A is now showing for inflectional forms that do not exist for specific words.

[2019-04-05 06:53] #94 closed

[2019-04-05 06:54] pineo commented on #89
Appears to be a backend issue - the "Context" that is passed, that for all other lemmas is the lemma to be displayed, for some reason, shows PV/... rather than the lemma.

[2019-04-05 06:57] pineo commented on #79
The paradigm table generation has been optimized to fit the JS & CSS code.

[2019-04-05 06:57] #79 closed

[2019-04-05 07:06] #85 closed

[2019-04-05 09:20] CoshUS commented on #89
Fixed in 7d8f94d6f8f9ae47f57cfc336ed437f7fddcbc68
However there is still a problem with "PV/apisîs" where FST_lookup returns (PV/apisîs, IPC, **Err/Orth**).
Most likely dictionary or fst problem.

[2019-04-05 09:20] #89 closed

[2019-06-10 16:15] eddieantonio opened #96 "Sort search results based on modified Levenshtein edit distance"
The search results should be ranked in order of [edit distance](https://en.wikipedia.org/wiki/Levenshtein_distance) from the query.

These distances should be calculated *after* the query is converted to SRO/circumflex.

 * An **exact match** will have a distance of 0, and should be ranked first.
 * An **addition**  should have a distance of 1: e.g., minôs vs. minôhs
 * A **deletion** should have

[2019-06-20 20:41] aarppe opened #97 "Interface language setting and change: default (English) and alternatives"
As the language of the dictionary interface (the language used in the various buttons and panes, which have been stored in the messages.po files per each language):

1. English should be the default interface language; and

2. As alternatives, one should be able to change with some toggle/button English to 2a. Cree/SRO-circumflex or 2b. Cree/SRO-macron or 2c. Cree/syllabics.

This may lead to an a

[2019-06-20 20:49] aarppe opened #98 "Interface language choice reflected in default paradigm layout presentation"
Based on the chosen interface language (issue #97), the paradigm layout that is used by default when requesting a paradigm for a lemma should correspond to the interface language.

1. English interface language -> Plain English paradigm layout (basic or full to be considered later)
2. Cree interface language -> nêhiyawêwin paradigm layout
3. Based on which flavor of SRO or syllabics is chosen, the

[2019-06-20 21:06] aarppe opened #99 "Presentation of linguistic analysis corresponding to search string and lemma"
"Somewhere" (potentially hidden at first), one should receive the linguistic analysis of the search string in relation to the lemma (having applied spell-relaxation).

At the minimum, the linguistic features would be written-out versions of the analysis tags, i.e. (1) below is represented as (2).

1. FST linguistic analysis:
niwî-mowâw ← mowêw+V+TA+Ind+Fut+Int+1Sg+3SgO

2. Basic relabeling using l

[2019-06-20 21:54] aarppe opened #100 "Presentation of orthographically standardized form of search string"
This means presenting "somewhere" (potentially apparent by default but as a pop-up or button) the strictly normative form corresponding to the spell-relaxed linguistic analysis of the search string, e.g.

- [x] nikiwapamaw -> nikî-wâpamâw
- [x] nipa -> nipâ (the preverb _nipâ-_ is mispelled in MD, lacking vowel length and the hyphen)
- [x] nipaw -> nipâw
- [x] ninipan -> ninipân
- [x] nikimamiyoni

[2019-06-20 22:18] aarppe opened #101 "Presentation of Plains Cree declination/conjugation classes (i.e. NA[D]-[1-5], VTA-[1-5])"
Instead of the linguistic codes such as NA-1, NA-2, VTA-1, VTA-2, etc., we could present example/model verbs and nouns to indicate how the noun or verb is inflected.

Ideally, one would use such example verbs which are used in instruction - on the university level, we could base these on Arok's paradigms.

These could implemented by selecting examples for each (which could e.g. be gleaned from Aro

[2019-06-21 13:01] aarppe commented on #96
Some comments:

1. Would an exact match concern not just a lemma, but an inflected (i.e. such a form is written exactly according to the orthographical norm)? Even then one might want to order the results based on reverse corpus frequency for the lemma, unless we'd use a fully weighted analyzer FST.

2. Concerning the weights (for various orthographical edits), the error-correction model in the Gi

[2019-07-10 20:23] eddieantonio opened #102 "Figure out what the deal is with the importer?"

[2019-08-09 17:21] eddieantonio opened #105 "Automatically update changed dependencies on redeploy"
We need a smart way of updating the dependencies on the server. Right now, it simply does a git pull and touches the .wsgi file to reload the application. We'd like it to do a pip upgrade, but only when the dependencies change.

[2019-08-16 16:57] Madoshakalaka opened #106 "clean readme and wiki"
1. move wiki to readme
2. clean legacy wiki page

[2019-08-17 02:25] Madoshakalaka commented on #105
I've been working on migrating this project to `pipenv`. `pipenv` will update dependencies to the `Pipfile` and `Pipfile.lock`. On the server side, `pipenv install` will install the newer dependency. So it will  be enough to just add `pipenv install` to the redeploy script.

[2019-08-20 18:40] Madoshakalaka opened #107 "DatabaseManager.log files logs unescaped color code"
Taken from the log:

Their definition will be merged[39m

Which is blue text on the terminal

Should be dealt with using [formatters](http://uran198.github.io/en/python/2016/07/12/colorful-python-logging.html)

[2019-09-05 15:00] Madoshakalaka opened #109 "edit redeploy script before merging feat/DictionaryImporter into master"
- git pull
- pipenv update
- touch the wsgi script

Also since the database schema changed, need to do a `pipenv run make-migrations && pipenv run migrate && pipenv run manage-db import CreeDictionary/res/dictionaries/crkeng.xml -m 4` manually before it starts to work on sapir. OR, maybe upload `db.sqlite3` via ssh to sapir if the database is already built in development

[2019-09-05 15:22] Madoshakalaka commented on #109
oh no there's other stuff. need to reconfigure wsgi-express, disable the old sevice and enable the new service

[2019-09-05 15:23] Madoshakalaka commented on #109
the old wsgi-express was in the venv folder but we switched to pipenv so the place is different

[2019-09-05 15:24] Madoshakalaka commented on #109
I'd like to figure this out when I'm back

[2019-09-05 15:25] eddieantonio commented on #109
No worries! Please figure it out when you're back!

[2019-09-11 20:54] eddieantonio opened #110 "This is a sample issue"
This issue would be best handled by @eddieantonio.

[2019-09-11 20:54] eddieantonio commented on #110
Okay, done!

[2019-09-11 20:54] #110 closed

[2019-09-25 16:34] Madoshakalaka opened #111 "Implement representation of paradigm cells for certain inflected forms that do not exist for a lemma"
Should we just remove that part of the paradigm table instead of showing blanks @aarppe

![Screenshot from 2019-09-25 10-31-08](https://user-images.githubusercontent.com/44753941/65620958-09848b00-df80-11e9-8c77-e634fda60950.png)

[2019-09-25 17:12] aarppe commented on #111
This is an extreme case where certain inflected forms are not possible. If a word is already a diminutive, you cannot apply again diminutivization on it. A similar case are verbs that can only be used in plural form (so they always require a plural subject, like 'they do X'.

The idea is that in such cases we present an empty cell, or better yet, em-dashes, to indicate that the particular lemma do

[2019-09-25 18:12] eddieantonio commented on #111
My opinion, @aarppe, is that if there are no inflections in an entire "panel" (e.g.., Diminutive, and Diminutive Possession), then that panel should be omitted entirely, perhaps with a message saying "these inflections are not possible!"

[2019-09-28 02:08] #109 closed

[2019-10-02 22:12] eddieantonio opened #113 "Refine ranking for fuzzy matching"
In the goal of _progressive enhancement_, let's disable the Levenshtein distance fuzzy search. Fuzzy matching the way itwêwina does is fine for now.

@aarppe, could you provide your example of when this is a problem?

Later on, we'll need to adjust the edit distance calculation, but that's a future TODO!

[2019-10-02 22:29] Madoshakalaka commented on #113
It's easy to turn off fuzzy search. What is the bug though?

[2019-10-02 22:33] eddieantonio commented on #113
@aarppe says that some of the search results are DANGEROUSLY misleading.
Plus there is the possibility of having too many results. We don't yet have
a nice way of ranking the too many results, so it's better to just turn off
fuzzy search for now. The bug is that fuzzy search is on!

El mié., 2 de oct. de 2019 16:29, Matt <notifications@github.com> escribió:

[2019-10-02 22:34] Madoshakalaka commented on #113
Whoa. Sure! I'll turn it off.

[2019-10-02 22:58] aarppe commented on #113
The main problem from the perspective of a naive user, the fuzzy search produced a lot of results, some of which were semantically funny, some repetitions (due to MD content, maybe), and then the lemma one was after might be quite a ways further down.

That does not induce confidence in newbie users (like Arok).

I think that this can be resolved by careful tuning of the fuzzy distance calculator

[2019-10-03 01:01] Madoshakalaka commented on #113
@aarppe No problem, looking forward to having fine tuned weights!

[2019-10-03 03:45] aarppe commented on #113
Do note that we already have weights we could use in the above mentioned files.

In these files, the standard weight for a single-character change is 10. The files have smaller weights for single-character and multi-character changes that would be more auspicious, such as changing vowels to have diacritics for length (or not), excessive or missing -h- between vowels and stops, and some other commo

[2019-10-03 03:51] aarppe commented on #113
Here you go, with some tentative values, and before corpus-based lemma and other feature weights:

less ~/giella/langs/crk/tools/spellcheckers/fstbased/desktop/hfst/editdist.default.txt | gawk -F"\t" 'NF>=3' | gawk '{ print $1" -> "$2" : "$3; }'

a -> â : 2
e -> ê : 0
i -> î : 3
o -> ô : 3
g -> k : 8
d -> t : 8
j -> c : 8
g -> c : 9
â -> a : 4
î -> i : 4
ô -> o : 4
w -> y : 0
i -> ô : 4
a -> ê : 4

[2019-10-03 20:45] Madoshakalaka commented on #113
@aarppe Thanks, I changed "bug" label to "feature" and I'll utilize the weights to rank spell relaxed matches.

[2019-10-03 21:02] aarppe commented on #113
No problem. While the absolute scale numeric values of the weights for the typo-correction in the spell-checker source code (with 10 as the default, and effectively with a 0-10 range) could be discussed, I'd think that the relative values that are used for typo correction have received quite some thought, so could be used. Of course, they can be log-scaled etc., in particular when we'd combine the

[2019-10-09 06:13] aarppe commented on #113
To be explored: can the speller-hfst, i.e. the archive crk.zhfst, be used for this? (which combines an acceptor and an error-correction model)

This spell-checker error correction model already incorporates weightings for various edits, features, and lemmas, for the entire computational model, not just the forms in the paradigms.

See: tools/spellcheckers/fstbased/desktop/hfst/Makefile.in

See: hf

[2019-10-09 06:24] aarppe opened #114 "Search does not work with more complex inflected forms (reduplication, non-lexicalized preverbs)"
Searching some inflected forms (presumably in the inflected paradigms) yields lemmas, but for other more complex inflected forms, there is no match.

Examples:
1. Basic form: ninipan -> lemma match: nipâw (-> normative: ninipân) (+)
2. Reduplication: ninanipan -> lno result (lemma match should be nipâw; normative: nina-nipân) (-)
3. Productive preverb: nohte-nipaw -> lemma-match: nôhtê-nipâw (lexi

[2019-10-09 15:27] eddieantonio commented on #114
@Madoshakalaka, this means that word forms  _must_ be looked up in the FST on each query; if it's only consulting the generated word forms, it's not doing enough :/

[2019-10-09 15:40] aarppe commented on #114
Potential solution/Question: might the spell-checker FST (crk.zhfst) combining a weighted error correction model and an FST acceptor be a possible solution?

[2019-10-09 18:22] Madoshakalaka commented on #114
let me look into it

[2019-10-09 18:46] Madoshakalaka commented on #114
@aarppe @eddieantonio

I just debugged the code and I have an idea what's happening

Long words short, these three have "Err/Orth" in their fst analyses, which is not handled correctly in the algorithm.

nikinipan 'nipâw+V+AI+Ind+Prt+1Sg+Err/Orth'
ewapamat: {'PV/e+wâpamêw+V+TA+Cnj+Prs+3Sg+4Sg/PlO+Err/Orth', 'PV/e+wâpamêw+V+TA+Cnj+Prs+2Sg+3SgO+Err/Orth

The last one though, I didn't know there exis

[2019-10-12 03:48] eddieantonio commented on #102
Yo @Madoshakalaka, I can close this, right? We're long past the time that we have no idea if the importer is doing its job or not.

[2019-10-12 03:49] #75 closed

[2019-10-12 03:49] #76 closed

[2019-10-12 03:51] eddieantonio opened #118 "Add a loading indicator for search results"
There should absolutely be some sort of loading indicator when a search query is entered. It should have the following states:

 1. loaded (it will probably be hidden when things are loaded)
 2. loading -- it's currently asking the database for datas
 3. failure -- something went wrong when searching

[2019-10-12 04:00] eddieantonio opened #119 "Enable the dictionary as an OpenSearch provider"
Addresses the following user story:

https://developer.mozilla.org/en-US/docs/Web/OpenSearch

[2019-10-12 04:23] eddieantonio opened #120 "KeyError in hfstol when searching for strings in quick succession"
[code]

[2019-10-12 04:29] Madoshakalaka commented on #120
the heck. I'm on it.

[2019-10-12 05:08] Madoshakalaka commented on #102
yes everything is completely figured out (for me)

Sent from my iPhone

[2019-10-12 05:11] Madoshakalaka commented on #102
and the importer is now well documented

[2019-10-12 05:15] #102 closed

[2019-10-12 17:40] eddieantonio opened #121 "Change language using `?hl=` query string"
By default, the language should be detected by the `Accept-Language` request header. At this point in time, I think it is very unlikely that we'd get a request header like this:

[code]

However, there should be a way to **override** the host language for this, and any new page that is loaded. The idea is a **global query string parameter** called `hl` which stands for "[host language](https://dev

[2019-10-12 18:15] eddieantonio opened #123 "Dynamically switch orthographies"
Switch orthographies from a drop-down menu.

Addresses the following user stories:

[2019-10-12 18:29] eddieantonio commented on #120
Here's another example of it:

https://travis-ci.org/UAlbertaALTLab/cree-intelligent-dictionary/jobs/597054345#L386-L402

[code]

It's easily triggered by the integration tests.

[2019-10-14 16:40] eddieantonio opened #125 "“Dictionary source” model"
We need a model that stores **bibliographic information** about a dictionary source. Its primary key will be the source abbreviation (e.g., CW, MD). It will contain the following fields (like a bibliographic reference!):

 - [x] Abbreviation (primary key)
 - [x] Title
 - [x] Authors
 - [x] Publisher
 - [x] City
 - [x] Year
 - [x] Editor

The `Definition` models must have a **many-to-many** relatio

[2019-10-14 17:45] eddieantonio opened #126 "Filter search results by user-selected dictionary sources"
Prerequisite: #125

Enables the "advanced search" dropdown that allows one to filter on dictionary source.

Addresses the following user story:

 - [x] Requires new UX [Diane]
 - [x] Requires _accessible_ HTML/CSS [Eddie]
 - [x] Requires database implementation [Matt or Eddie]

[2019-10-14 23:59] eddieantonio opened #127 "Add basic paradigm with new styles"
Display basic paradigms for words with the following POS:

 - [x] VTA (verb, transitive, animate)
 - [x] NAD (noun, animate, dependent)

Using the new styles ([HTML source code](https://github.com/eddieantonio/proto-itwewina/blob/db80bed2d721057855a0d0295db3cbdfc36c63b8/src/screens/Default.svelte#L10-L40), [Preview](https://proto-itwewina.eddieantonio.now.sh)).

Then do the basic paradigms:

 - [x

[2019-10-15 00:00] eddieantonio commented on #105
@Madoshakalaka this sort of works now, right? Can we mark this issue as resolved?

[2019-10-15 00:04] eddieantonio opened #128 "Add rudimentary support for presenting spoken snippets"
We need to load recordings from the [recordings-validation-interface]:

Subtasks:

 - [x] Create UX for listening and selecting recordings [Diane]
 - [x] Create HTML/CSS from the designs [Eddie]
 - [x] Write integration test (can copy from old version of itwêwina) [Eddie or Matt]
 - [x] Implement it! [Eddie or Matt]

Address the following user story:

[2019-10-15 00:10] eddieantonio opened #129 "Show search term or currently displayed word in the page title"
Addresses the following user story:

[2019-10-15 00:22] eddieantonio opened #130 "Allow words that are not in the `Inflections` table to be recognized by lemma"
@aarppe said:

I believe this is a tiny error in the lookup algorithm, which will only output a result if it exists in the `Inflection` table in the database, even if the FST recognizes it. If an analysis is given, and there's it's not a known wordform, it should be passed to the normative generator (minus +Err/Orth tags) and be output as a result, linking to its lemma. See #100.

[2019-10-15 02:56] #118 closed

[2019-10-15 06:12] aarppe commented on #127
If the UI designer hasn't specified it yet, the Cree SRO/syllabic words in the paradigms should appear different from the labels, i.e. one should be able to easily distinguish One vs. minos, Many vs. minosak, etc. Italics?

[2019-10-15 06:15] aarppe commented on #127
Note to self (@aarppe). We would want to shift the plain English and nêhiyawêwin paradigms to the simpler structuring (without the Algonuian division into SAP, Mixed, and Third Person (for Verbs), as user feedback has been that it makes finding the correct form difficult.) I and/or one of our linguists needs to do this, noted as a separate issue to be implemented later - as long as the new code wi

[2019-10-15 06:32] aarppe opened #131 "Reorganize paradigms into a more intuitive and easy to search order"
We will want to shift the plain English and nêhiyawêwin paradigms to the simpler structuring, without the Algonquian division into SAP, Mixed, and Third Person (for Verbs), as user feedback has been that it makes finding the correct form difficult. The Algonquian ordering will  still be accessible in the linguistic *.layout specs.

In practice this means that subjects wlll be presented in Number >

[2019-10-15 06:37] aarppe commented on #123
For the sake of explicitness, this selection of orthography concerns Cree words anywhere in the application, not just in the paradigms or normatized search results, but in the interface as well - if I've understood correctly our discussions with Eddie.

[2019-10-15 14:52] eddieantonio commented on #123
Correct. It should affect the display of Cree text EVERYWHERE!

[2019-10-15 19:13] Madoshakalaka commented on #105
Totally. In addition, `npm install` is also incorporated into the redeploy script so that npm dependencies are also updated

[2019-10-15 19:13] #105 closed

[2019-10-15 22:07] eddieantonio commented on #120
![Screen Shot 2019-10-15 at 4 06 47 PM](https://user-images.githubusercontent.com/2294397/66873498-d709f480-ef65-11e9-9ebc-185c0b8e69aa.png)

https://www.youtube.com/watch?v=_asNhzXq72w

[2019-10-15 22:10] eddieantonio commented on #120
I think I have an idea for a reproducible test case.

Look-up a word with A LOT of possible analyses, e.g., "ôma":

[code]

Then try to look up something else.

[2019-10-16 03:14] aarppe opened #132 "Show Cree dictionary sources properly"
Prerequisite: #126

1. The current version now shows only MD (or CW) as a source for some lexical entries, even when such lexical entries occur in both sources and have been properly matched in the XML dictionary source (using Katie's comparison table).
2. In conjunction with this, sometimes the wrong source is provided for the English translation provided, in addition to not providing at all the

[2019-10-16 06:18] aarppe commented on #127
As a further follow-up note-to-self (@aarppe), as long as the pane-internal ordering will remain the same, we should be able to specify all extents of paradigm within a single data structure of the *.layout file type. I suppose we could even incorporate varying pane-internal ordering, but implementing substantially differing structures (e.g. distinguishing SAPs, Third person, and mixed participant

[2019-10-16 22:19] aarppe opened #133 "Implement prefix search"
Alongside potentially finding a lexical entry of which the entire search string (whatever characters have been typed up to any point) is an inflected form, one should also show lexical entries, the beginning of which match the search string - if these haven't already been matches through the linguistic analysis.

Since many lexical entries have lexical preverbs (over 200 but known), the prefix sea

[2019-10-16 23:24] aarppe commented on #111
1. If it's an empty cell in a row otherwise with word forms, then we just show an em-dash or equivalent.

2. If it's an entire block of empty rows, like when no diminutive forms are shown for nouns which are already diminutives, then we could just not show the whole block. Maybe in such a case there could be a note such as 'No diminutive forms'.

3. If it's an occasional empty row, as is the case

[2019-10-18 05:45] aarppe commented on #100
Resolving this matches the following user story:

"As a Cree language learner, I want the search results to show me which word form matched (e.g., if I search _nipa_,  the result will say 'matched _nipâ_ - a form of _nipâw_"

[2019-10-18 05:49] aarppe commented on #133
The (new) user story for this is:

"When I search _nipa_, I want to see both dictionary entries starting with _nipa_, e.g. _nipâw_, as well as dictionary entries that contain _nipa_ in their core stem, e.g. _pê-nipâw_."

[2019-10-18 05:54] aarppe commented on #99
This matches the following user story:

"As a Cree language learner, I want to see the linguistic breakdown of my Cree search query."

[2019-10-18 05:56] aarppe commented on #99
In the first instance we can focus on option 2 above, which can be implemented using the itwewina.relabel file.

On the longer term this requires a simple table with the rendering of the features in various forms, as discussed above, which is an issue of its own.

[2019-10-18 20:31] aarppe opened #135 "Extract new batch of Maskwacîs Cree recordings"
Since May, we've had a number of students annotating the Maskwacîs Cree recordings, delineating the carefully spoken Cree word and sentence snippets and matching these with their field transcriptions and English translations.

These would now need to be incorporated in the Cree speech database/validation interface/app.

[2019-10-18 20:35] aarppe commented on #128
While we already have an initial batch of recordings, we can substantially multiply this once #135 is undertaken.

[2019-10-18 23:15] aarppe commented on #125
Here are the first two:

Abbreviation (primary key): CW
Title: Cree : nêhiyawêwin : itwêwina / Cree : Words
Author(s): NA
Editor/Compiler: Arok Wolvengrey
Publisher: Canadian Plains Research Center
City: Regina, Saskatchewan
Year: 2001
URL: NA
Non-academic citation: nêhiyawêwin : itwêwina / Cree: Words. Compiled by Arok Wolvengrey. Regina: Canadian Plains Research Center, 2001.
Academic citation:

[2019-10-20 05:17] Madoshakalaka commented on #120
fully fixed
https://travis-ci.org/UAlbertaALTLab/cree-intelligent-dictionary/builds/600235228

[2019-10-21 04:17] Madoshakalaka commented on #132
Old cree dictionary (students ver.) only displays the first definition. It's still showing only the first definition, which is the cause the observation above.

It's a trival fix and it's fixed right now. The fix will apear on sapir in a later update.

[2019-10-21 05:05] #132 closed

[2019-10-21 05:06] Madoshakalaka commented on #129
done

[2019-10-21 05:06] #129 closed

[2019-10-21 05:17] Madoshakalaka commented on #127
new styles are now online. With mocked table showing "minôs" to everything.

need a brief discussion with @eddieantonio to connect the paradigm table part

![newMocked](https://user-images.githubusercontent.com/44753941/67178337-90fec780-f38f-11e9-9c9e-02e80c369f52.png)

[2019-10-21 06:19] aarppe commented on #127
What's the TODO part standing for?

[2019-10-21 06:29] aarppe opened #137 "Cree translation for Neahttadigisánit"
Neahttadigisanit is North Saami for network + digital + words.

What would be an appropriate Cree equivalent?

masinahikan kâ-itâpatak ayapîhk 'dictionary that is useful in the net' – MKIA

[2019-10-21 06:39] aarppe commented on #127
And, `Ipc` = `Particle` (or `Independent Particie` in full, but that's too long).

[2019-10-21 13:55] Madoshakalaka commented on #127
todo stands for the audio we haven't implemented yet. Use "particle" instead of "Ipc" seems like a reasonable choice. But I have to say both means nothing even to me...the former having the advantage of being a English word though

[2019-10-22 17:14] eddieantonio opened #138 "Back button doesn't work after navigating to a definition/paradigm"
Say you search for a word like [acâhkos](http://sapir.artsrn.ualberta.ca/cree-dictionary/search/acahkos/). Click on the definition and try going back to the search page. The URL changes, but the page content stays the same! Instead, I expect to go back to the search page I came from.

[2019-10-22 17:59] eddieantonio commented on #120
@Madoshakalaka, I've got bad news for you:

[code]

https://travis-ci.org/UAlbertaALTLab/cree-intelligent-dictionary/jobs/601387324#L379-L420

---

What is the _underlying_ bug here? What _actually_ is going wrong?

[2019-10-22 18:52] eddieantonio opened #139 "Add NRC-CNRC logo and acknowledgements to the about page"
Funding for _me_ is provided by the NRC-CNRC, so that logo should be _somewhere_ on the site!

[2019-10-22 19:22] eddieantonio commented on #120
I disabled the HFSTOL descriptive analyzer so that we have less flakey builds as of 74a6fb0. Since this bug keeps popping back up, I think we should put it on the back-burner, since the slower implementation still works -- it's just slower 🤷‍♂ .

I've set this as a "future" task, since all the tests pass, and the site work without using hfstol.

[2019-10-22 20:03] Madoshakalaka commented on #120
very depressing. But sure

[2019-10-22 21:23] Madoshakalaka commented on #114
I'm on it

[2019-10-22 21:23] Madoshakalaka commented on #130
I'm on this

[2019-10-23 00:10] aarppe commented on #114
Ok - when using the normative generator, one just has to remove the +Err/Orth tag (resulting from the descriptive analyzer). I believe this issue is related to #130.

[2019-10-23 00:22] aarppe commented on #127
For the record, the basis paradigms for independent nouns should contain the singular possessor forms (in singular) - as in the old itwêwina. On the other hand, I'm not entirely sure we'd need the diminutive forms - if we want to keep the basic paradigms simple and basic.

![image](https://user-images.githubusercontent.com/15003407/67345364-fd94d600-f4f7-11e9-8faf-f5d2c301f75d.png)

For the depend

[2019-10-23 20:29] Madoshakalaka commented on #114
Now it's implemented correctly such that analysis outside paradigm tables will also get matched.

I tested on all 9 examples @aarppe proposed and they all show as expected.

Note for ewapamat and e-wapamat you'll get two results:

![Screenshot from 2019-10-23 14-21-38](https://user-images.githubusercontent.com/44753941/67431222-0beafc80-f5a1-11e9-8aec-78bfc761a856.png)

as ewapamat matches two inf

[2019-10-23 20:29] #114 closed

[2019-10-23 20:32] Madoshakalaka commented on #130
this is fixed together with #114

[2019-10-23 20:32] #130 closed

[2019-10-23 22:34] Madoshakalaka commented on #138
fixed in a recent commit. Back and forward button now both work

[2019-10-23 22:34] #138 closed

[2019-10-24 00:56] aarppe commented on #114
Great! I notice that my example cases weren't entirely complete, and I had overlooked the possibility of multiple normative forms of the same lemma matching one and the same fuzzy search string. While I corrected these above, this probably needs to be pursued as a separate issue.

[2019-10-24 01:05] aarppe opened #140 "Presenting multiple analyses, with the same lemma/lexical entry"
As noted in issue #114 , _e-wapamat_ or _ewapamat_ does get two analyses  (with or without the `+Err/Orth` tag - depends on whether one omits the hyphen or not).

[code]

In this particular case, the two analyses have two different normative forms, but the lemma is the same for both:

[code]

In such a case, we'd need to provide both normative forms, presumably somewhere in between the search stri

[2019-10-24 01:18] aarppe opened #141 "Non-standard spelling of lexicalized preverb does not match both lexicalized and productive lemmas"
When spelling nôhtênipâw without the hyphen, we only get a match with nipâw but not nôhtê-nipâw. When spelling nôhte-nipâw with the hyphen, we match both lemmas, cf.

nohtenipaw	PV/nohte+nipâw+V+AI+Ind+Prs+3Sg+Err/Orth	0.000000

nohte-nipaw	PV/nohte+nipâw+V+AI+Ind+Prs+3Sg	0.000000
nohte-nipaw	nôhtê-nipâw+V+AI+Ind+Prs+3Sg	0.000000

Seems that this is a FST issue. We probably would need to code the

[2019-10-24 01:19] aarppe commented on #141
This is currently primarily an FST issue, based on the above analysis. Whether it's a bug or annoyance I haven't yet decided.

[2019-10-24 01:24] aarppe opened #142 "Prefix search should work for English as well"
Now, if I search _sleep_, I only get _nipâw_, but not _nipâwin_ (sleeping).

I need to type _sleeping_ to get _nipâwin_.

We would want to get both _nipâw_ and _nipâwin_, when typing in the English _sleep_.

Another separate matter is matching also the English inflected forms of the search string, e.g. matching any English gloss with _slept_, while typing in _sleep_, or matching any English gloss

[2019-10-24 02:29] Madoshakalaka opened #143 "Use more permanent url for paradigm page"
currently paradigm pages have url as: `/lemma/<lemma_id>` such as `/lemma/12311`

Lemma id is the id for the lemma stored in database. While they gaurantee one-to-one correspondence. They are highly subjective to change if we rebuild the database.

We should use  `/lemma/<wordform>` such as `/lemma/nipâw`

[2019-10-24 02:40] Madoshakalaka commented on #143
Since both `pos` and `lc` fields could be unspecified in the database,

I propose the following scheme for middle part of the url:
[code]

[2019-10-24 18:18] eddieantonio commented on #143
I really like this suggestion! We'll add it to tasks, but prioritize it after the things we have to deal with now :/

[2019-10-29 21:34] eddieantonio opened #144 "Bug: handling inflections with multiple possible wordforms"
e.g., `môniyâw+N+A+Der/Dim+N+A+Sg`:

[code]

This is apparently not handled correctly. Matt knows why.

[2019-10-30 17:18] aarppe opened #145 "Turn off automatic first-letter capitalization in search window"
At least on some gadgets (e.g. my iPad), the first letter of a search string becomes capitalized automatically - something that is incorrect in the case of Cree SRO. This is a nuisance that it would be nice to have turned off.

If the user intentionally capitalizes the first letter, they can do that, as the descriptive analyzer is able to deal with matching that with the non-capitalized standard C

[2019-10-30 17:24] aarppe opened #146 "Make sure that the latest version of the descriptive analyzer FST is used"
Currently, it seems that the latest adjustments to the spell-relax algorithm in the descriptive analyzer FST are not used.

For instance, the following word forms are not recognized:

acuhkos
acuhkos	acâhkos+N+A+Sg	0
acuhkos	ahcahk+N+A+Der/Dim+N+A+Sg	0
acuhkos	atâhk+N+A+Der/Dim+N+A+Sg	0

neeya
neeya	niya+Pron+Pers+1Sg	0
neeya	niyâ+Ipc	0
neeya	niya+Pron+Pers+1Sg	0

neeyu
neeyu	niya+Pron+Pers+1Sg	0

[2019-10-30 17:38] aarppe opened #147 "Space characters should be allowed in search strings"
Our dictionary sources contain at least Cree (and perhaps also English) lexical entries that contain spaces. In Cree SRO, this occurs in (1) multiword phrases (in their standard spelling) and (2) orthographically non-standard spelling of preverbs and reduplicative elements without intervening hyphens.

1. Multiword phrases

acâhkos kâ-osôsit (Noun: comet, tailed star [CW])

acâhkosa kâ-otakohpit (

[2019-10-30 19:24] #145 closed

[2019-10-30 19:32] eddieantonio commented on #145
@aarppe, try this now on your device! http://sapir.artsrn.ualberta.ca/cree-dictionary/

[2019-10-30 19:43] aarppe commented on #145
Yes, now Cree SRO words are not capitalized.

And nicely, typing `calgary` or `edmonton` provides a pop-up? which provides the capitalized version. Does that come from matching the search string with English words as they are capitalized in the dictionary sources, or is implemented elsewise?

Though when I start typing `nipaw`, after `ni` I am suggested `NI`, and typing `niy` I am suggested `not`

[2019-10-30 19:55] eddieantonio commented on #145
I think the pop-up is a feature of your iPad? I don't believe we implemented that 😅 I think it's a default of the iPad...

[2019-10-31 01:08] aarppe opened #148 "Apostrophes should be recognized in search strings"
Apostrophes are increasingly used to mark a short, unstressed single vowel.

E.g.
`tân'si` for `tânisi`
`ka-nis'tohtaht` for `ka-nisitohtâht`

Currently, tân'si is matched, perhaps because is is a contraction that is listed in the LEXC part of the FST, but `ka-nis'tohtaht` (example from our Maskwacîs Cree recordings) is not.

The descriptive FST is able to handle this, cf.

[code]
... but the anal

[2019-10-31 01:28] aarppe opened #149 "Don't show Cree words labels in spoken recordings, unless normatized"
When implementing #128, the old itwêwina shows the search string that is used in order to access spoken recordings. This search string appears to be without vowel-length, which if shown to a user is a non-standard spelling of the word in question.

E.g. `wapamew` for `wâpamêw`

Thus, until/unless the search strings can be presented in an orthographically standardized form, do not show them in the

[2019-10-31 02:23] Madoshakalaka commented on #127
@aarppe This is now online for all words! styles do need more polish, @eddieantonio needs to do some work on it

[2019-10-31 02:23] aarppe commented on #137
_wêhci-itwêwin-masinahikan_ ~ 'easy word book'?

[2019-10-31 02:31] aarppe commented on #127
Excellent! Very good start, already tested a bunch of words.

Formatting will eventually need some tweaking, and will likely benefit from multipane approach.

[2019-10-31 04:03] eddieantonio commented on #148
Related to #146. As we have learned, I forgot to invert `crk-orth.hfst` before composing it! >.<

[2019-10-31 04:18] #146 closed

[2019-10-31 04:18] #148 closed

[2019-10-31 04:25] eddieantonio commented on #148
I've updated the FSTs to the latest (with inverted `crk-orth.hfst`!) and added appropriate test cases. Try it now! http://sapir.artsrn.ualberta.ca/cree-dictionary/search/ka-nis'tohtaht/

[2019-10-31 04:30] eddieantonio opened #150 "Use a better example on the front page than "they habitually go on very large hunts""
Right now, as an example of a "complicated word", we have this example: "ê-mâh-misi-nâh-nôcihikocik". I'm pretty sure we got this from some of Arok's materials, but it's kind of... violent? I don't feel like it's something we'd want to have on the front page 😅

Any ideas, @aarppe?

[2019-10-31 05:14] aarppe commented on #150
Just to get the gears rolling, I pulled out a selection of complex forms. My favorites would be:

- _iyâta-wâ-kakwê-pîkinikahwât_ 's/he vainly intended to try to hew something/one [animate] small'
- _nikî-nitawi-kiskinwahamâkosin_ 'I went away to go to school'
- _ê-kî-kâh-nitawi-kâh-kîmôci-kotiskâwêyâhk_ 'you and we would go very secretly in full gallop'

And then a longer exposition of how one ca

[2019-10-31 05:39] aarppe commented on #148
Good. Interesting how some issues sometimes get resolved through trying to diagnose something, at least superficially, else.

[2019-10-31 18:38] eddieantonio opened #151 "Host the dictionary EXCLUSIVELY on https://"
It's 2019. HTTPS is now the default, and browsers show "not secure" for legacy sites. Let's host it exclusively on HTTPS. All HTTP traffic should be redirected to the same URL, except it is using https:// instead.

[2019-10-31 20:21] eddieantonio opened #152 "Use WORKING descriptive analyzer"
Related to UAlbertaALTLab/plains-cree-fsts#14.

Something broke the current descriptive FST fomabin. Currently, we're using the fomabin to analyze forms, because of a long standing bug in the hfst implementation (#120). So the situation currently:

 - Can't use hfstol because the wrapper has a concurrency bug
 - Can't use the fomabin because it's borked for some reason with the latest spelling rul

[2019-10-31 20:57] eddieantonio commented on #149
tl;dr: either we show it RIGHT or we don't show it at all!

(suggested by Arok)

[2019-10-31 23:11] Madoshakalaka commented on #151
done

[2019-10-31 23:11] #151 closed

[2019-10-31 23:51] #152 closed

[2019-11-01 02:07] aarppe opened #153 "Present linguistic breakdown with stem and spelled out features"
This is the suggestion for the first implementation of what is discussed in #99, using option 3 (modified here to include a preverb as well as a different actually attested stem). This does not rule out presenting the same information at the bottom of the full paradigms.

3. Basic relabeling using stem:
nikî-nitawi-wâpamâw ← √wâpam- + Verb + Preverb: nitawi + Transitive Animate + Independent + Fut

[2019-11-01 02:16] aarppe commented on #99
The `improvement` component here means implementing the optional presentation of the linguistic breakdown features with plain English or plain nêhiyawêwin.

[2019-11-01 02:23] aarppe opened #154 "Present only standardized Maskwacîs Dictionary content"
Present only those entries from the Maskwacîs Dictionary, that have been standardized in terms of their orthography.

This means that the forms in question have been compared to lexical entries in Cree Words, and the relationship of the English glosses has been assessed. As a by-product this has resulted in the normatization of the spelling of the MD entry, the identification of the stem (from CW)

[2019-11-01 02:31] aarppe commented on #154
Currently, these can be identied as having the following XML field:

<stem>md_stem[nr]</stem>

[2019-11-01 02:58] aarppe commented on #154
More properly on the longer term, this should be fixed by creating a proper lexical database of the Maskwacîs Dictionary content, which includes the following information:

1. Original MD lexical entry.
2. Normatized MD lexical entry.
3. Matching CW entry, if any. May require the creation of a unique ID on CW side, if match is ambiguous.
4. CW-MD English gloss comparison classification (reflecting

[2019-11-01 03:11] aarppe opened #155 "Reorganize and revise basic paradigms with a less linguistic, more intuitive format"
Implement #131 for all basic paradigm *.layout files.

[2019-11-01 06:10] aarppe opened #156 "Integration of/linking to Cree corpus samples from Korp"
One would need to have an option to access usage examples, as available on the linguistically analyzed crk materials on Korp.

While the A-W texts are not publicly available, the Bloomfield texts are not restricted in this sense, which means they could and should be accessible to any user (once they're incorporatd in Korp).

Generally, the first option would be to generate a link implementing a le

[2019-11-01 06:16] aarppe opened #157 "Creating an on-going comprehensive record of the end-user searches and actions"
In order for us to monitor how people use this new on-line dictionary, i.e. how do they search (with what search strings), and what functionalities they use (i.e. what actions they take using the dictionary), we'd need to have a comprehensive record of what the users do.

Ideally we'd have this set up already when we start asking the various alpha-testers to start using the application.

If this i

[2019-11-01 22:03] aarppe opened #158 "Search with English verbs is not producing results"
Searching with any English verb, such as eat, sleep, or see, isn't resulting in Cree verbs (though there are some occasional matches with other Cree lexical entries with the search word in their English glosses).

Example expectations for verbs (at the very least):

- [x] _see_ -> _wâpiw_, _wâpahtam_, _wâpamêw_
- [x] _eat_ -> _mîcisow_, _mîciw_, _mowêw_
- [x] _sleep_ -> _nipâw_

This doesn't seem

[2019-11-02 19:07] eddieantonio opened #159 "Tailored test data"
We can use a subset of `crkeng.xml` for testing, but it's more useful if we have a few **manually-selected** test entries, and then a few randomly selected entries to top it all off.

Also, `engcrk.xml` should contain _at least_ one entry for every lemma here:

Required lemmas:

 - [ ] wâpamêw (VTA)
 - [ ] wâpahtam (VTI)
 - [ ] wâpiw (VAI)
 - [ ] nîpin (VII)
 - [ ] nôhkom (NAD)
 - [ ] mîpit (NID)

[2019-11-02 19:13] eddieantonio commented on #159
@aarppe Do you have any others to add to the _test database_ (a tiny subset of real database) that will be publicly shared in source form?

[2019-11-02 19:50] aarppe commented on #159
The ones above are the ones that I've ended up testing whenever encountering a new version.

Perhaps a good representative set for verbs and nouns are the lemmas we use for regression testing of the FST:

maskasiy
mitâs
mitihtihkosiy
ninîkihik
nîskwa
nîtim
nîwa
nôhpan
asikan
askihk
ayapiy
êsa
ihkwa
kihci-okiniy
masinahikanâhtik
niska
pahkwêsikan
wâhkwa
mayakask
mêstakay
miskîsik
miskotâkay

[2019-11-02 21:23] aarppe commented on #159
Also, do we need English search terms as well? As well as expected results? See #158

[2019-11-03 18:34] Madoshakalaka commented on #158
The search algorithm for English keywords needs to be redesigned. And I need some guidance. @eddieantonio @aarppe

Currently, for an English keyword, the algorithm finds the English word in `engcrk.xml` and returns the lemmas in database that overlap **exact definition** with the English translation in `engcrk.xml`

Concretely, this long gigantic thing attached at the bottom is what's inside `engc

[2019-11-03 18:37] Madoshakalaka commented on #158
The arbitrariness of `engcrk.xml` begs the question of an alternative English keyword matching algorithm. I don't think I can **just** use all the Cree words inside `t` tag either (Imagine showing the user 50 results when he searches for "see")

[2019-11-03 18:39] Madoshakalaka commented on #158
I think the students version searched for English keyword containment, ranks the result by definition shortness (which is a indication of relatedness), and shows the top ten results.

I remember it worked quite good. How about using that instead?

[2019-11-03 18:42] Madoshakalaka commented on #158
The students version wasn't using `engcrk.xml` though. I employed `engcrk.xml` with the wish it gives more precise English matching. But turns out it won't give a big help.

[2019-11-03 18:43] aarppe commented on #158
Since we do not have a proper English-to-Cree version of the dictionary, we have instead uses the English words in the glosses (with nouns and verbs lemmatized) as kaywords, under which the Cree lexical entries are listed. That is how this is done in the paper version of Wolvengrey's dictionary as well. It does provide long lists, but that is just how things are.

[2019-11-03 18:46] aarppe commented on #158
In the old itwêwina, when you search with _see_ you get.a long list of all Cree lexical entries that have _see_ in their English translatoin (organized under POS). We don't really have any good way of pruning that, and in some sense it is actually good to see that _seeing_ in Cree is expressed by so many words.

[2019-11-03 18:49] Madoshakalaka commented on #158
@aarppe Sure! I'll sort results by keyword matching fraction and have a limit of 10 or so.

"s/he **see**" -> 3/8
"be able to **see** [all the way to] s.t." -> 3/36

May need your feedback later on the perceptual accurateness.

[2019-11-03 18:50] aarppe commented on #158
We have had a long discussion about how to sort such searches. To do that properly, one would need manual scrutiny of the English-to-Cree direction, and that isn't happening anytime soon.

One option that has been considered is ranking the Cree lexical entries based on the number of words (or the character length) of their English translations.

Another option that we could follow is using corpus-

[2019-11-03 18:52] aarppe commented on #158
In practice, I don't think we ought to limit what you get. But you would want to rule out determiners and articles (_a_, _an_, _the_). Even for frequent prepositions and adverbs, it is useful to see how they are used (maybe excluding _of_ that's really only grammatically used)

[2019-11-03 18:53] Madoshakalaka commented on #158
Get it!

[2019-11-03 19:03] Madoshakalaka commented on #154
@aarppe Yep, I've done this. This is actually inherently done in the importing step and those not-standardised  have already been marked with an "as_is" label

I just filtered out those "as_is" results

Please do some checks to confirm.

e.g. right now "nipa" only shows one standardised result, it was showing results like "kill him" from MD.

https://sapir.artsrn.ualberta.ca/cree-dictionary/search

[2019-11-03 19:04] aarppe commented on #158
And in creating `engcrk.xml`, ruling out determiners has already been done, so you can use the English search key words in their entirety (this should be done afterwards by the programmers, but earlier by the linguists).

[2019-11-03 19:04] #144 closed

[2019-11-03 19:13] Madoshakalaka commented on #159
@eddieantonio So I'm creating a new database file called `selected_words.sqlite3` enlisting all the words in this issues page. The onus is then on you to migrate current integration test cases to use these words. Does that sound right?

[2019-11-03 20:48] eddieantonio commented on #159
@Madoshakalaka I guess? I mean, I intend the new database to _replace_ the current test database. That is, when `USE_TEST_DB=True`, it should load `selected_words.sqlite3` instead of the old test database. Plus, I have cleverly listed words I already hard-coded into the tests in the above list. The only missing ones I would like to see in the new test database are:

 - amisk
 - amiskwaciy-wâskahik

[2019-11-03 23:05] Madoshakalaka commented on #159
@eddieantonio totally understand you!

[2019-11-04 03:56] aarppe opened #160 "Search with Cree pronouns does not produce results"
E.g., searching with the Cree pronouns _oma_ or _awa_ or _niya_ do not yield any results.

In contrast, searching with English words corresponding to the above does produce results

[2019-11-04 03:59] aarppe opened #161 "Search with Cree preverbs does not produce results"
Searching e.g. with the Cree preverbs _ati-_, _poni-_, _nitawi-_, and _pe-_ do not produce results.

In contrast, search with English words corresponding to the above does result in list with some but not all of the preverbs above.

[2019-11-04 04:02] aarppe opened #162 "Uninflecting Cree words do not need a basic/any paradigm"
When clicking on a Cree particle, one ends up on a secondary page with the English definition, which is fine. But since these words do not inflect, showing the basic paradigm does not make much sense - but we may have eventually other information that we might want to show on that secondary page.

This is related to #127 and #111.

[2019-11-04 08:54] aarppe commented on #96
Within the Giella infrastructure, the following HFST command and specification appears to do the job in the case on single-character edit-distance:

`~/giella/giella-core/scripts/editdist.py -s -d 2 -w 10 --regex -i ~/giella/langs/crk/tools/spellcheckers/fstbased/desktop/hfst/editdist.default.txt > editdist.default.regex`

After this, you'd need to run the following compliation:

`hfst-regexp2fst

[2019-11-04 16:18] eddieantonio commented on #154
@aarppe, could you verify this, and then close this issue?

[2019-11-04 19:23] aarppe commented on #154
Seems to be the case - checked with _nohtekatew_ and _nohtekatewin_ that are only in MD but not in CW, and are not shown. However, this appears to be an orthographical variation that we have missed, since  _nôhtêhkatêw_ and _nôhtêhkatêwin_ are in CW. The comparisons were done with a descriptive FST before the implementation of -h- addition/removal in the spellrelax files.

We'll need to come up wi

[2019-11-04 19:24] #154 closed

[2019-11-04 20:47] eddieantonio commented on #125
This is done! Antti, if you login to your admin account, should should see the two `DictionarySources` with the correct information.

[2019-11-04 20:47] #125 closed

[2019-11-04 21:33] eddieantonio commented on #127
This is semi-blocked by #159. I'd like to have an example of each part of speech and a regression test for each before calling this one done.

[2019-11-05 01:54] aarppe commented on #140
Here's a form with lots of analyses (here four), but all with the same lemma:

[code]

[2019-11-05 03:31] aarppe commented on #96
Couldn't resist fiddling with weighting edits:

[code]

This can then be compiled with the following incantation:

`hfst-regexp2fst -S -i levenstein.hfscript -o levenstein.hfst
`
... and then composed together with a descriptive analyzer as follows:

`hfst-compose -F -1 levenstein.hfst -2 ../crk-anl-norm.hfst -o crk-anl-dw.hfst`

Then, one can see following weighted analyses:

[code]

[2019-11-06 19:29] #162 closed

[2019-11-06 19:58] eddieantonio commented on #127
@aarppe this has been improved a bit. Please check the latest version https://sapir.artsrn.ualberta.ca/cree-dictionary/lemma/2020215/ and tell me how it looks so far. I'd like to incorporate this feedback into integration tests after #159 is merged.

[2019-11-06 21:32] eddieantonio commented on #147
I need to write a test case for this!

[2019-11-07 03:07] aarppe commented on #140
As a further side-note to ourselves, the presentation order of the above would be based on the weighted Levenstein distance, as discussed in #96.

[2019-11-07 03:13] aarppe commented on #96
The weighted spell-relax specification is now to be found in the appropriate location within the Giella infrastructure, namely:

`giella/langs/crk/src/orthography/spellrelax-weighted.regex `

[2019-11-07 03:21] aarppe opened #163 "Extract new corpus-based frequency ranking for lemmas from disambiguated A-W results"
Since we now have a relatively well disambiguated version of the A-W corpus, we can use that as a basis for generating lemma-frequencies for ranking English-to-Cree search results (and maybe vice versa). The rankings would be placed in the `rank` attribute in the `engcrk.xml` aggregated dictionary source, or in a corresponding field in the crk lexical database we are using (preferably the latter,

[2019-11-07 03:24] aarppe opened #164 "Certain pronoun classes need inflectional paradigms"
It would make sense to create "paradigm" tables for personal pronouns, demonstrative pronouns, as well as interrogative pronouns - these "paradigms" could be invoked from any of their constituent member pronouns, presenting how that pronoun is positioned in relation to the rest in the same subclass. This is related to #127. Don't know about the need to contrast between basic and full paradigms, th

[2019-11-07 03:42] aarppe opened #165 "Need a database/interface for managing our version of the CW, MD, and other crk dictionary sources"
In order for us to reliably create and supplement the aggregated dictionary source for Cree Words and the Maskwacîs Dictionary, we need a database solution with some practical interface for managing the content, the interrelationships between the lexical entries (assessment similarity or difference of their English glosses), as well as the addition of new lexical entries and new information concer

[2019-11-07 03:45] aarppe opened #166 "Migration of sapir from UAlberta/IST to Compute Canada/Westgrid"
For practical reasons (our support for sapir storage is ending), this needs to take place during November, and at the very latest before the end of this year.

[2019-11-07 08:25] aarppe opened #167 "Develop and switch to multi-pane layouts"
Turn the paradigms into sets of self-contained panes, that can be turned into various layout presentations based on available space.

[2019-11-07 08:51] snomos commented on #165
This is something we have been looking for for years also in Tromsø. Our present plan is to generalise the structure found in https://satni.uit.no/termwiki/index.php?title=Váldosiidu for terminology to also cover dictionaries, but our experience with the MediaWiki code is mixed, and we don't see this as a viable long-term solution. Also, there is work going on in Helsinki by Mika Hämäläinen target

[2019-11-07 09:47] aarppe commented on #165
Our challenge here is that neither of the primary sources (CW nor MD) are static, but both are being added to (CW by AEW through his lexicographical work, and MD based on our recordings word with "new" lexical entries that we will be validating), which need to be continuously contrasted with new additions to either source (not to mention the incorporation of a third dictionary source such as Elder

[2019-11-08 03:10] aarppe commented on #147
Test cases:

1. Multiword phrases

- [ ] acâhkos kâ-osôsit (_comet_)

I suspect that these are currently excluded from inclusion in the outwards available dictionary, as the FST isn't able to recognize them.

In first instance and for the time being they should be treated as if uninflecting particles, since implementing their inflection could be quite complex, involving potentially more than one o

[2019-11-08 03:17] aarppe commented on #166
We have today received the first embryo of persistent cloud computing resources from Compute Canada, which now needs to be set up by ARC.

[2019-11-08 03:19] aarppe opened #168 "Migration of altlab/itwêwina and altlab/korp under CC Cloud"
This is related to #166, and is only possible once the basic hardware set up has been completed by ARC.

[2019-11-08 19:43] eddieantonio commented on #127
@aarppe for conjunct forms in the basic paradigms, could we make it _one_ column right now? Two columns does not fit on mobile :(

[2019-11-09 04:06] aarppe commented on #96
In addition to the above, we also need a weighted rule for the Plains Cree dialect marker, the accented y.

`y (->) ý::0.0`

This is now in` crk/src/orthography/spellrelax-weighted.regex`

[2019-11-09 04:07] aarppe commented on #96
Note to selves - based on our discussions, this edit-distance scheme would in the first instance be primarily used for ranking Cree words matching with search strings.

[2019-11-09 04:15] aarppe commented on #127
We can create mobile versions of the basic paradigms for now, having only a single column for both nouns and verbs - will get on it.

Ideally, we'd want a directory in the new _itwêwina_ source where to place these and other "new" paradigms that will be created now and on the longer term. Also ideally, I'd prefer to work with CSV layout files as the source (as currently), and even more ideally the

[2019-11-09 05:32] eddieantonio commented on #127
Okay! Me and @Madoshakalaka will import directly from CSV! It'll be in a dedicated directory — probably somewhere in [res/](https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/tree/master/CreeDictionary/res).

[2019-11-12 02:13] aarppe opened #169 "Diminutive layouts"
Show only the basic diminutive form, even in full layouts (i.e. singular non-possessed for independent nouns, and unspecified possessor singular for for dependent nouns).

[2019-11-12 08:13] aarppe commented on #127
The basic/mobile paradigm layouts are now implemented as CSV files, in:

.../giella/langs/crk/inc/paradigms/mobile

These can certainly be moved under any directory more appropriate for the new _itwêwina_.

[2019-11-18 18:19] eddieantonio opened #170 "Create “About” page"
Based on Diane's designs. This should also knockout #139.

[2019-11-19 21:10] #139 closed

[2019-11-19 21:10] #170 closed

[2019-11-27 19:41] Madoshakalaka opened #176 "Source xml file lemma resolution: dimimutive forms and idiomatic lemma"
"ayiwinisa" is analysable. Yet the current version on Sapir does not show its paradigm table.

Also It's special as "ayiwinisa" (+N+I+Pl) should chosen as its lemma instead of "ayiwinis" (+N+I+Sg like most NI). Just like how the word "data" is more common that "datum" in English

[2019-11-27 20:19] Madoshakalaka commented on #176
I went investigating. Unfortunately, this is caused by limited expert knowledge in our importing process.

Both ayiwinisa and ayiwinis can be interpreted as different NIs. Currently the importer can not resolve whether ayiwinisa is a inflection of the first one or the second one.

[code]

[2019-11-27 20:22] Madoshakalaka commented on #176
However I have added an test case and referred to this issue in the lemma resolution process. Hopefully we have better way of dealing this in the future.

[2019-11-27 20:32] Madoshakalaka opened #177 "Lack of a website icon"
[code]

![Screenshot from 2019-11-27 13-30-43](https://user-images.githubusercontent.com/44753941/69757423-2f621380-111a-11ea-8d9e-5250d352ab49.png)

This globe looks good but we need an icon.

[2019-11-27 20:34] Madoshakalaka commented on #149
I think this is already achieved. Verify please @aarppe ?

[2019-11-27 21:49] Madoshakalaka commented on #161
This is fixed in my development branch (not on sapir yet).
ati-, poni-, pe- now all produce results. yet nitawi- does not. "nitaw" without "i" does. was that a typo?

[2019-11-27 21:50] eddieantonio commented on #161
"nitawi-" is most definitely not a typo: https://altlab.ualberta.ca/itwewina/crk/eng/?lookup=nitawi-

[2019-11-27 21:51] Madoshakalaka commented on #158
update: this is now fixed in my development branch. though the results is not sorted (sorting has a separate issue). Will push to Sapir soon

[2019-11-27 21:56] Madoshakalaka commented on #161
I found the cause: these two entries exist in the source

[code]

The pending dash is not properly dealt with in the current algorithm.

[2019-11-27 21:57] Madoshakalaka commented on #161
I will come up with tests for these cases

[2019-11-27 22:25] Madoshakalaka commented on #161
@aarppe need your advice what do we show as the part of speech for reduplication stems like "sa" "ka" "ma" "na".

[code]

Since they all have `pos="IPV"` in their sources. I currently show them as "Preverbs" in my development branch

![Screenshot from 2019-11-27 15-24-54](https://user-images.githubusercontent.com/44753941/69763329-182b2200-112a-11ea-8fed-69926f056257.png)

[2019-11-28 01:16] aarppe commented on #149
I don't know if this is implemented in the new dictionary, as I don't see any recordings yet, e.g.

https://sapir.artsrn.ualberta.ca/cree-dictionary/search/wapamew/

In the old itwêwina, we certainly yet show the non-standard transcriptions of the recordings (based on how the search from the speech database is done), cf.

https://altlab.ualberta.ca/itwewina/detail/crk/eng/w%C3%A2pam%C3%AAw.html?no

[2019-11-28 01:23] aarppe commented on #161
The short answer is that, for now, calling the reduplicative elements preverbs is the simplest solution, as the do look like some grammatical preverbs, even though strictly speaker they are not preverbs (the rough meanings for the Ca- and Câh- patterns are the same irrespective of what the initial Consonant is).

I don't think Arok's dictionary lists most reduplicative elements for the most part,

[2019-11-28 03:51] Madoshakalaka commented on #149
@aarppe sorry I didn't recognize this issue is talking about recordings

[2019-11-28 22:48] Madoshakalaka commented on #160
update: in my development branch, this is fixed. I'll come up with tests to ensure later versions don't break this.

[2019-11-30 08:21] aarppe commented on #131
This is now done for all basic paradigms, which need to be incorporated in the new itwêwina.

[2019-12-02 17:04] eddieantonio opened #178 "Migrate to Django 3"
Django 2.2 will reach end of life in 2022. We should migrate to Django 3 before then.

Here's a list of incompatible changes:

https://docs.djangoproject.com/en/3.0/releases/3.0/#backwards-incompatible-changes-in-3-0

As of 2019-12-02, I don't think we've used many of these features, if at all

[2019-12-06 00:15] #159 closed

[2019-12-06 00:24] eddieantonio commented on #158
Fixed as of: #180

[2019-12-06 00:24] #158 closed

[2019-12-06 09:17] aarppe opened #181 "Dictionary/Lexical entries should not be merged (automatically)"
As a result of fixing #158, we have a new issue in that Cree lexical entries representing different inflected forms (as specified in MD, and in some cases CW) are all merged under the lemma. This results in undesirable behavior, as the translations of the inflected forms are lumped together, when they do not really appropriately concern at all the lemma, but rather the meanings/translations for th

[2019-12-06 22:07] eddieantonio commented on #160
Fixed as of 24b6a4fccf79cb7cb1bbef32f7d4776a86f384d8

[2019-12-06 22:07] #160 closed

[2019-12-06 22:12] eddieantonio commented on #176
A similar case exists for any NA/NI that has a **lexicallized** diminutive form; e.g.,

 - minôs -- cat
 - minôsis -- diminutive of cat OR kitten

[2019-12-06 22:34] eddieantonio commented on #147
Misspelled complex word forms work, but multiword phrases don't for some reason. We have to investigate! 🔍

[2019-12-06 22:42] eddieantonio commented on #161
Fixed as of 24b6a4fccf79cb7cb1bbef32f7d4776a86f384d8

[2019-12-06 22:42] #161 closed

[2019-12-09 08:37] aarppe opened #182 "The presentation of lexical entries should follow from the source specifications"
Looking at the implementation of the representation of the dictionary entries from the two sources (MD + CW), it appears that the baby has gone with the bathwater.

Issue 91 in the old itwêwina projects (https://github.com/UAlbertaALTLab/itwewina/issues/91) presents the general scheme for presenting translations from the two sources, and the motivations for this design have not changed, cf.

1. Mu

[2019-12-09 08:43] aarppe commented on #181
Here is another example. Searching with _acahkos_, I do not get separate results for acâhkos and atâhk, even though CW has two distinct lexical entries for the two words.

Regardless of whether a word is a derived form of another (e.g. _acâhkos_ is a diminutive of _atâhk_), if they have distinct lexical entries in either dictionary source, this distinctness should be preserved, and not automatical

[2019-12-09 17:06] Madoshakalaka commented on #176
@eddieantonio currently fst does not analyze `minôsis` as a diminutive form of `minôs`. I'll add them to the integration test but skip the test for now.

[2019-12-09 19:37] #176 closed

[2019-12-10 22:49] eddieantonio commented on #126
Note: I deleted my first attempt at the HTML in this commit: ae6c0c9d7567ba77ad26718e2103c5963360a31a.

    git revert ae6c0c9d7567ba77ad26718e2103c5963360a31a

To get the code back.

[2019-12-11 00:43] aarppe commented on #127
For the record, are you using the new mobile paradigms, which only have a single column? These can be found in the following location within the Giella infrastructure:

https://victorio.uit.no/langtech/trunk/langs/crk/inc/paradigms/mobile/

At least in the publicly available version of the new itwêwina, the layouts have double columns.

[2019-12-11 00:44] aarppe commented on #127
See above.

[2019-12-11 00:50] aarppe commented on #155
Done for basic paradigms with the mobile layouts, see:

https://victorio.uit.no/langtech/trunk/langs/crk/inc/paradigms/mobile/

What remains are the full and other paradigm layouts, not just for mobile but other platforms as well.

[2019-12-11 00:50] #155 closed

[2019-12-11 04:02] eddieantonio commented on #127
Thanks! I'll incorporate the new layouts tomorrow.

[2019-12-11 04:45] Madoshakalaka commented on #127
Very nice!

[2019-12-11 15:06] aarppe opened #185 "Presenting ambiguous lemmas"
There are a few words, in particular intransitive inanimate verbs, that are ambiguous with a noun, e.g. _pipon 'it is winter' (V), 'winter' (N)_ or _kîsikâw 'it is day(time)' (V), 'day' (N)_. This distinction in the English glosses appears to be made more systematically in CW than MD. The practical consequence is that as verbs they can take tense and other verb inflection, whereas as nouns they ca

[2019-12-11 15:45] eddieantonio commented on #127
![Gif of Borat saying 'very nice!'](https://user-images.githubusercontent.com/2294397/70636309-8a076f00-1bf2-11ea-9c9c-a6ff4d2f1fb9.gif)

[2019-12-12 01:45] eddieantonio opened #188 "Server error (HTTP 500) when accessing about page"
But the integration tests that access the about page pass? 🤔

https://sapir.artsrn.ualberta.ca/cree-dictionary/about

[2019-12-12 08:50] aarppe opened #189 "Features of the Tsuut'ina (Dene) morphological FST and dictionary models"
This is a summary of Arppe, Cox, Hulden et al. (2017) ([Arppe_Cox_Hulden_et_al_DLC_2017.pdf](https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/files/3954707/Arppe_Cox_Hulden_et_al_DLC_2017.pdf)) providing some general points for consideration in generalizing the Cree model to other Indigenous languages such as Tsuut'ina (Dene).

1. Tsuut'ina (and other Dene languages) has disjoint morp

[2019-12-12 09:00] aarppe opened #190 "Inflected forms of POS-ambiguous lemmas are not recognized: ê-pipohk, ê-kîsikâk"
In conjunction with #185, some inflected forms corresponding to lemmas that have two POS are not recognized nor linked to the lemma reading with the right POS. For example:

- [ ] ê-pipok -> pipon (VII)
- [ ] ê-kîsikâk -> kîsikâw (VII)

[2019-12-12 18:27] eddieantonio commented on #188
@Madoshakalaka could you please have a look at this? This is what I've tried:

 - checking `/var/log/apache2/error.log` and `/var/log/apache2/access.log` -- nothing from this app shows up there
 - pinging the backend server, however it gives me `400 Bad Request` whenever I try to curl it, e.g., `curl http://localhost:8091/cree-dictionary/`

[2019-12-12 18:31] eddieantonio commented on #106
Unfortunately, I don't think we can prioritize this now with all of the bugs and features left to address. I've moved this to the "Future" milestone.

[2019-12-12 21:55] #147 closed

[2019-12-12 22:33] #127 closed

[2019-12-13 09:41] aarppe opened #193 "Both column headings for the basic mobile layouts should have the same formatting (bold etc.)"
Following up on the implementation of the new mobile basic layouts in #191, for the sake of clarity, both column headings for the four types of verbs should be formatted similarly (bold-faced, etc.), not just **'ni-/ki- word'** and  **'ê-/kâ- word'** as in below ...

![image](https://user-images.githubusercontent.com/15003407/70790208-47ce6100-1d9d-11ea-8c5a-7e756ed89dfa.png)

![image](https://use

[2019-12-13 09:54] aarppe opened #194 "Those II verbs that should get plural forms not getting them in the mobile basic layouts"
Some but not all II verbs can get a plural, e.g. _pipon_ _'it is winter -> there were [so-and-so-many] winters'_ and _kîsikâw_ _'it is day[time] -> there were [so-and-so-many] days'_. Those plural forms should be apparent in the mobile basic layouts (as in the old _itwêwina_):

![image](https://user-images.githubusercontent.com/15003407/70790783-6e40cc00-1d9e-11ea-963b-2e26b75d7ac0.png)

This is i

[2019-12-13 21:16] eddieantonio commented on #193
This is tricky to implement with the current format of the layouts.

Consider the VAI layout file:

[code]

or the VTA layout file:

[code]

To denote that something is a title, we surround the column in `""` double quotes. To denote that something is a column heading, we surround the column text in `""` double quotes. To denote that something is a row label, we surround the column text in `""` do

[2019-12-13 21:28] eddieantonio commented on #193
@aarppe: update, I've come up with a TSV format that might work for us:

https://docs.google.com/spreadsheets/d/1opkulWHTWOzQRRBpkVVc24nY7v508VCcIZgN-z06ryQ/edit?usp=sharing

This is what it looks like as a text file:

[code]

[2019-12-15 07:22] Madoshakalaka opened #196 "Rank English results by definition containment"

[2019-12-15 20:32] eddieantonio commented on #196
Could you please explain what you mean by this issue? Perhaps given an example?

[2019-12-17 17:33] Madoshakalaka commented on #196
When the user searches with an English word. The searched results should be reverse ranked by the proportion the user query is to the whole definition.

[2019-12-17 19:58] eddieantonio commented on #196
Good point! I've added this to the [task board](https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/projects/6#card-30702417)!

[2019-12-19 00:06] aarppe commented on #196
Unfortunately this won't work, since the prototypicality of a lexicon entry does not correlate with the shortness of the English gloss/definition. In fact, more prototypical words may have longer explanations, and this scheme would rank them lower, e.g. _wâpamêw_ or _wâpahtam_ (or _wâpiw_) for seeing, cf.

[code]
The best solution for this would be a dedicated English-to-Cree dictionary, but that

[2019-12-19 00:19] aarppe opened #197 "Rank English-to-Cree search results by Cree lemma frequency and/or morpheme co-occurrence weighting"
Dependent on the calculation of weights in #163 (done) and then their incorporation in our lexical database #254 (next), the following step is actually sorting (primarily English) search results according to the ranking of the Cree lemmas that match the English search strings.

[2019-12-20 18:13] aarppe commented on #197
A version of this is now done, and to be found in the Giella SVN in:

~/giella/art/dicts/crk/Wolvengrey/W_aggr_corp_morph_log_freq.txt

This was created with the following scripting:

[code]
The rank is the average of the A-W corpus-based log(P) of the lemma + the joint log(P) of the constituent morphemes (for which frequencies are weighted based on corpus occurrences), with zero frequency/probabi

[2019-12-20 18:15] aarppe commented on #197
A quick and dirty alternative would be to rank Cree lexical entries based on either 1) the number of constitutuent morphemes (but this is unreliable when the morpheme breakdown is not complete) or 2) the character length of the lemma (following Zipf's law/observation about the inverse relationship of word character length and frequency).

[2019-12-20 18:20] aarppe commented on #196
This has now been superseded by the ranking implemented in #197.

[2019-12-20 18:23] aarppe commented on #196
Note - if we implement search with multiple words, then we could select Cree lexical entries based on an intersection of the matching of the individual English search words with the glosses for the lexical entries. Even so, we might want to more finely rank the matching Cree words according to some heuristic as the one implemented in #197.

[2019-12-20 18:28] aarppe commented on #163
Done, and discussed in #197.

A version of this is now done, and to be found in the Giella SVN in:

`~/giella/art/dicts/crk/Wolvengrey/W_aggr_corp_morph_log_freq.txt`

This was created with the following scripting:

[code]
The rank is the average of the A-W corpus-based log(P) of the lemma + the joint log(P) of the constituent morphemes (for which frequencies are weighted based on corpus occurrenc

[2019-12-20 18:29] eddieantonio commented on #193
Bumping. @aarppe, please have a look at my proposal. I'd like to hear your
opinion on this.

El vie., 13 de dic. de 2019 02:41, aarppe <notifications@github.com>
escribió:

[2019-12-20 18:31] aarppe commented on #197
What needs next to happen is for the ranks to be incorporated on the software side.

[2019-12-20 18:35] aarppe commented on #163
What I won't do is incorporate these ranks in engcrk.xml, as we will likely not be using that as our aggregate dictionary source. Though we will have to come up with a strategy for providing ranks to new lexical entries, whichever source they come from.

[2019-12-20 19:02] aarppe commented on #193
Yes, looks good, and I think this achieves what we need for the current layouts, as well as has the information that would be needed for the more complex, multipane ones.

A few observations/questions/comments, which need not necessarily hold back development right now:

0. This is micromanagement and/or perfectionism, but I suppose the column labels could be identified by a carot `^`, nicely comp

[2019-12-20 19:07] aarppe commented on #163
For future reference, the A-W corpus-based frequency counts are done with the following script:
[code]

[2019-12-20 21:15] eddieantonio commented on #193
I like this suggestion! Let's incorporate it!

[code]

No. **Every** cell must have a marker as its first character. This is mostly to make my life as a programmer easier, and to make EVERYTHING explicit.

Everything up to the tab character is part of the label. The intention is to edit it in a spreadsheet program, so naturally, everything in the cell in the spreadsheet will be part of the cell! N

[2019-12-20 22:00] aarppe commented on #193
No other comments (i.e. I am in agreement), other than the following clarifications:

Re: 2 - so is the period ` . ` then a marker of a definition of feature-tags for which a matching form should be generated?

Re: 5-6 - but, how the layouts would now be defined seems to me very much amenable to how I've thought the panes would work. That is, your proposed specification would work to my mind not j

[2019-12-22 17:52] Madoshakalaka commented on #181
@aarppe I'm fixing this issue. Worth to mention I believe the _acahkos_ case is related to #176 and it's already fixed. Right now this is what I'm getting for _acahkos_

<img width="650" alt="Capture" src="https://user-images.githubusercontent.com/44753941/71325385-2f4efc80-24a9-11ea-9152-f34bd1684d13.PNG">

[2019-12-24 19:01] eddieantonio commented on #193
Yep! I just forgot to mark it as such in the documentation; I shall amend it.

I agree! I just want to implement one small thing (explicit layouts) first before jumping to the bigger thing (explicit layouts with panes).

👍

[2019-12-29 05:41] Madoshakalaka commented on #181
update: this is fixed in development. I will deploy on sapir later.

Note, there are some cases that where two entries really need to be merged. e.g. the following entries exist in `crkeng.xml`:
[code]
I made cautious update to the code so these two is still merged. In short, two entries from xml will get merged only when "the wordform look the same and provided pos/lc can't distinguish them apart

[2019-12-29 05:54] Madoshakalaka commented on #181
A Chrismas gift from this fix: now our database permits customized definition to each inflected form, compared to the previous version where we only attach definition to lemmas.

This is a step forward for a better admin console in the future, where definition for each inflection can be manually edited.

[2019-12-29 10:09] aarppe commented on #181
Ok - but cases like _lynx_ should be merged in our original database, rather than mechanically afterwards. For whatever resson, this particular match was missed out in our original source comparisons.

Anyhow, when we encounter such cases that might be mergeable, they should be flagged in the databaes, and then the English glosses compared as to whether they are effectively the same or not. In the

[2019-12-30 20:13] Madoshakalaka commented on #181
@eddieantonio we need UI to display potentially existing definition for matched inflection, to achieve what is desired here for search string "nipa". I believe we don't have it in the wireframe.

But as for the issue's case, i.e.

My fix #200 will achieve it.

I will close this issue when it's merged and  create a new issue regarding the UI for definition of inflections.

[2019-12-30 20:21] eddieantonio commented on #181
@Madoshakalaka Please create the UI issue regardless if #200 is merged. I'll review it shortly.

[2019-12-31 07:44] Madoshakalaka commented on #181
@eddieantonio sorry I didn't see it earlier.

[2019-12-31 18:43] aarppe commented on #176
Some notes and observations.

1. _minôsis_ is not analyzed as a diminutive of _minôs_, because the latter is coded as a diminutive in the CW source, in which case the lemma is marked with a flag-diacritic in the stem LEXC file, which rules our further diminutivization. This is done automatically in the CW-to-LEXC code. Whether the coding is correct or not is another matter - here, the diminutiviza

[2019-12-31 22:42] Madoshakalaka commented on #101
@eddieantonio just a reminder while I'm browsing issues. This is easily achievable, now that our Wordform model class has a `full-lc` field which records exactly the declination class.

[2019-12-31 22:48] Madoshakalaka opened #201 "Show definition for inflected forms"
As discussed [here](https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/issues/181#issue-533839591), it's desirable to show definition for inflected forms (not only lemmas) when they exist.

Currently we only show users the matched lemmas. This issue depends on the following UI where we'd also show matched inflections.

<img width="477" alt="Capture" src="https://user-images.githubuserco

[2020-01-07 23:39] Madoshakalaka commented on #181
@aarppe I closed this issue for now, as it's fixed on Sapir - nipaw now shows only two definitions. Please note that the other definition for inflected forms still do not show for now, even though their definition are correctly registered in the database, showing thoses depends on the interface change mentioned in #201 .

[2020-01-07 23:39] #181 closed

[2020-01-08 00:31] aarppe commented on #201
A few important notes:

1. the string _ê-nêhiyawi-kiskinwahamâkosiyân_ could have two analyses, in which one has the preverb _nêhiyawi-_ lexicalized as the lemma _nêhiyawi-kiskinwahamâkosiw_, and the other with the preverb as a productive mofifier of the lemma _kiskinwahamâkosiw_.

Thus, the **two** correct representations for the search string _ê-nêhiyawi-kiskinwahamâkosiyân_ are the following:

[2020-01-08 04:57] aarppe commented on #163
In order to make tasks and assignments explicit:

- [x] create rankings for all CW words based on A-W corpus and CW morpheme frequency [Antti].
- [ ] incorporate rankings into aggregate dictionary database and/or itwêwina code - ideally create a simple pipeline for adding such ranks, when updating is needed [Matt / Eddie]

After this, the rankings can be used to order the Cree dictionary entries m

[2020-01-08 05:00] aarppe commented on #197
To make tasks explicit:

- [ ] rank Cree dictionary entries matching English word searches using ranking from #163.

[2020-01-08 23:08] eddieantonio commented on #188
This is caused by the Django static middleware suddenly caring about 404s when `DEBUG=False`. There was a typo when requesting `nrc-cnrc-logo.svg` — it was actually requesting `nrc-cnrc-logo.png`, which does not exist!

[2020-01-08 23:09] #188 closed

[2020-01-09 20:30] Madoshakalaka opened #204 "Bad search bar responsiveness under development"
Half or more of the search bar may overflow, failing local integration tests involving typing.

@eddieantonio I discovered more details for you. For me, this only happens under development. See the comparison below: The first is http://localhost in development, the second is [https://sapir.artsrn.ualberta.ca/cree-dictionary](https://sapir.artsrn.ualberta.ca/cree-dictionary). Both are rendered with

[2020-01-09 20:33] Madoshakalaka commented on #204
It happens only under development, but it fails local integration tests. It is important as it hinders further integration test creation.

[2020-01-09 20:48] Madoshakalaka commented on #100
update: I'm on this

[2020-01-09 21:26] Madoshakalaka commented on #201
@aarppe I'll try to produce them

[2020-01-09 21:31] #96 closed

[2020-01-09 21:54] eddieantonio commented on #204
I want to address [PEBKAC](https://en.wiktionary.org/wiki/PEBCAK) before I do some serious debugging. Does this happen on the master branch? Have you run rollup and have the latest version of the CSS created? Do you start the server using `npm start`?

This could just as well be a documentation bug, or a workflow bug.

[2020-01-09 22:21] Madoshakalaka commented on #204
it's a PEBTIAV - Problem Exists Between True IDE and Vim. :fire:

[2020-01-09 22:21] #204 closed

[2020-01-14 06:35] aarppe commented on #165
Copying from elsewhere:

@eddieantonio More properly on the longer term, aggregating Cree Words and the Maskwacîs Dictionary should be fixed by creating a proper lexical database of the Maskwacîs Dictionary content, which includes the following information:

1. Original MD dictionary entry.
2. Normatized MD dictionary entry.
3. Matching CW dictionary entry, if any. May require the creation of a un

[2020-01-14 06:48] aarppe opened #205 "Minimum features required for first milestone of new itwêwina"
@eddieantonio @Madoshakalaka In order for us to release the new itwêwina, we need to implement the following minimum set of features:

- [ ] Step 0 - use latest dictionary content (XML) and latest improved FST (#255, #256, and #269).
- [x] Step 1 - AEW compliance
   - [x] 1. Presentation of orthographically standardized forms of search strings: exemplified in #209 and #224 (and earlier detailed in

[2020-01-14 22:32] Madoshakalaka commented on #201
I just noted we do not have "I am learning Cree" in our database but we do have definition for the lemma.
![Screenshot from 2020-01-14 15-27-22](https://user-images.githubusercontent.com/44753941/72388244-b0816400-36e2-11ea-81f4-1ea50442620b.png)

Since not all inflections have definition, and we'll possibly resort to English fst in the future, in the case of matched inflection without definition,

[2020-01-14 22:40] Madoshakalaka commented on #201
@aarppe @eddieantonio I just re-examed #153 , so we'll have infomation about the lemma embedded in a popup with "(?)" icon right next to "form of xxxxx".

If I get the idea correctly, we will not show any definition in the case metioned above, and the purpose of "Form of xxxxx (?)" will be to redirect the user to our lemma page. Is this more preferred?

[2020-01-14 22:56] Madoshakalaka opened #207 "Going from lemma detail page to home page by cleaning search bar does not erase lemma detail content"
This can be reproduced by the following procedures

- Go to search page [/search/wapamew](https://sapir.artsrn.ualberta.ca/cree-dictionary/search/wapamew/)
- click on the hightlighted link "wâpamêw"
- `Ctrl/Command + A` to select everything from the search bar
- press `backspace/delete`

![Screenshot from 2020-01-14 15-52-03](https://user-images.githubusercontent.com/44753941/72389543-d8be9200-36e

[2020-01-14 23:02] Madoshakalaka opened #208 "unrendered emoji in tab title under specific situation"
![Screenshot from 2020-01-14 16-00-54](https://user-images.githubusercontent.com/44753941/72390097-25ef3380-36e7-11ea-8153-55031116afe6.png)

It's supposed to be a magnifying glass

[2020-01-14 23:03] eddieantonio commented on #201
For now, yes! If we don't have a definition for the matched wordform, but we _do_ have a definition for its lemma, we say "ê-wâpamât is a form of [wâpamêw](https://www.spacejam.com/)" and have the definition of "wâpamêw" below it. We can't define the matched wordform because we don't have a definition for it!

[2020-01-14 23:07] Madoshakalaka commented on #201
@eddieantonio if we still attach the definition of the lemma, do you think it's neccessary to remind the user **showing definition for lemma** then?

[2020-01-14 23:12] aarppe commented on #201
We want to use less linguistic terminology, so I'd think that we'd stick with _blaa is a form of_ (even though 'form' is not so plain English).

[2020-01-14 23:43] eddieantonio commented on #201
For now, let's just show the matched wordform _without_ its definition and say "form of ...", and directly under that search result will be the search result for the matched _lemma_. Recall the mockups:

![Screen Shot 2020-01-14 at 4 40 40 PM](https://user-images.githubusercontent.com/2294397/72392264-d4e23e00-36ec-11ea-9ec2-902b366d42a6.png)

The search for "niskak" matched two wordforms, but it

[2020-01-15 00:15] aarppe opened #209 "Presentation of orthographically standardized form and linguistic breakdown"
A. Search string _enipat_ -> single analysis, English definition only for lemma, no English definition for inflected form:

![image](https://user-images.githubusercontent.com/15003407/73315132-89e82080-41ec-11ea-976b-364de384eac8.png)

When clicking the `(?)` buttons, the following information becomes apparent (pops up):

![image](https://user-images.githubusercontent.com/15003407/73315155-9a98968

[2020-01-15 00:18] aarppe commented on #209
@eddieantonio Did my best understanding of the UI design, with the two cases above. I suppose each of these could be split with the (inflected) wordform in one box and the lemma in another, but I have to say that that starts getting somewhat confusing/repetitive, though I may be wrong.

[2020-01-15 01:30] aarppe commented on #201
Importantly, at this point, the dictionary entries in the two sources MD and CW are mostly lemmas, though there is a small fraction of non-lemma inflected forms as well as multi-word phrases (currently, we shouldn't try to inflect multiword dictionary entries). Such non-lemma inflected forms as dictionary entries can be certain possessed forms for dependent nouns (both in MD and CW: _kôhkom_ 'your

[2020-01-15 07:07] aarppe commented on #201
Ok - so the above mock-up makes sense _only if_ the search string matches an inflected form that has an explicit definition (as a dictionary entry), and this word form can be analyzed to have a lemma that also has an explicit definition (among the dictionary entries). So, no anticipation of generated, inflected English translations (we don't have them yet).

If the word form doesn't have an explic

[2020-01-15 21:55] Madoshakalaka commented on #209
@aarppe are you suggesting we indicate the different between "definition for both lemma and inflected form" and  "definition for lemma only" with a newline?
i.e.

and

A side note, the exclamation mark feels too aggresive to me.

[2020-01-15 22:24] Madoshakalaka commented on #100
This is implemented and show show on sapir in minutes. Worth noting

when the user query matches a non-lemma form, the following search result is currently **not** followed by an extra entry of lemma.

the extra entry of lemma is bettered described in #201 and #209, and will get implemented later.

[2020-01-15 22:37] Madoshakalaka opened #210 "search results do not show upon visiting /search/user_query/"
If one visits [https://sapir.artsrn.ualberta.ca/cree-dictionary/search/niskak/](https://sapir.artsrn.ualberta.ca/cree-dictionary/search/niskak/), the query "niskak" will appear on the search bar, but search results won't show untill you make changes on the search bar.

[2020-01-15 22:42] eddieantonio opened #211 ""Server-side rendering" for all pages"
When I visit any URL on the site, the server should return to me the **complete** HTML of the page without the use of JavaScript.

e.g., when I visit `/search/niskak`, I should see the search results for niskak. Instead, we get nothing (#210).

---

The fix is to get Django to render what normally gets included by the API calls via JavaScript. The JavaScript will continue doing its thing; however,

[2020-01-15 22:45] eddieantonio opened #212 "Use conventional web way of doing search"
Right now it redirects to`?q=searchterm`. Frankly, this is the most appropriate way to do things on the web -- the `/search/searchterm` is kind of a weird way to do things, but either way, the `?q=searchterm` should, in fact, execute the appropriate search. Related to #210.

[2020-01-16 03:33] aarppe commented on #209
That was my error. I wasn't aiming at treating the two cases differently - for reasons of space I'd have 'form of' always on a line of its own.

I was taking the exclamation/question marks from whatever mock-ups i had seen, though I didn't usually consult the UI designer's source which I should. Generally, using (?) would seem appropriate, as one is asking for more information.

You might note tha

[2020-01-16 03:41] aarppe commented on #100
The general implementation is fine, but the standardization of the search strings still needs some work. In this, we still need to check that the multiple test cases enumerated above all work done properly. Vowel length marking (with circumflexes is done properly), but ignoring hyphens is not. For AEW compliance, _enipat_ -> _ênipât_ is half-way and not according to SRO, we need to get _ê-nipât_.

[2020-01-16 03:52] aarppe commented on #201
[Note that the representations in my comment on _ê-nêhiyawi-kiskinwahamakosiyân_ have been corrected 15.1.2020 to exactly match dictionary content, which was not the case earlier.]

[2020-01-16 07:10] aarppe opened #213 "Cree word forms not getting some or all analyses"
Pursuant #100 and #209, now the following Cree word forms are not recognized, either at all, or only receiving one of multiple possible analyses (`-`: analysis apparently missing; `+`: analysis apparently correct):

- [ ] `maskos (-maskwa+N+A+Der/Dim+N+A+Sg)`
- [ ] `maskwak (-maskwa+N+A+Pl)`
- [ ] `nimaskom (-maskwa+N+A+Px1Sg+Sg)`
- [ ] `niskak (-niska+N+A+Pl; +nîskâw+V+II+Cnj+Prs+3Sg)`
- [x] `nit

[2020-01-16 21:44] Madoshakalaka commented on #100
I'm looking into the enipat case and the general problem

[2020-01-16 21:56] Madoshakalaka commented on #100
@aarppe I found the problem. Part of the workflow is to use fst to analyze user query and use normative generator to generate standardized forms.

The problem in the _enipat_'s case is that the analysis have an Err/Orth tag in it, and the normative generator picks it up.

[code]
Notice if Err/Orth is stripped, we get the truly normatized form with the dash.
[code]

@eddieantonio btw is picking up

[2020-01-16 21:56] Madoshakalaka commented on #100
I'll fix this problem by stripping Err/Orth in the process.

[2020-01-16 22:06] Madoshakalaka commented on #213
looking into it

[2020-01-16 22:18] Madoshakalaka commented on #100
@aarppe Can you check if anything else obvious needs to be changed?

[2020-01-16 22:48] aarppe commented on #100
The idea with the `+Err/Orth` tag is to allow us to include in our FST known misspellings of frequent word forms, like _mân_ or _man_ for _mâna_, or know non-standard conventions (leaving the hyphen out) and allow the descriptive FST to analyze those but also say that the form is not spelled in the standard way - the normative FST would not recognize those forms at all. So then, when you remove th

[2020-01-16 22:50] eddieantonio commented on #100
@Madoshakalaka as @aarppe said, the descriptive analyzer has `+Err/Orth` tags hard-coded in a lot of places (known misspellings).

Could you please add some regression tests for searching for, e.g., enipat?

[2020-01-16 23:06] Madoshakalaka commented on #100
sure I will add some regression tests

[2020-01-16 23:13] Madoshakalaka opened #215 "Add regression test for displaying standardized form of enipat"
The standardized form should be "ê-nipât" (rather than ênipât without dash) and the user should be shown the below

![Screenshot from 2020-01-16 16-13-05](https://user-images.githubusercontent.com/44753941/72570823-2b7d8280-387b-11ea-96dd-3f77097d5973.png)

[2020-01-16 23:45] Madoshakalaka commented on #213
for the first case, it's a ridiculous error of our code misinterpreting 'maskwa+N+A+Der/Dim+N+A+Sg' as an NAD where it should be NA

[2020-01-17 00:34] Madoshakalaka commented on #213
While I just fixed the problem above, the root cause is our database couldn't resolve the lemma for `niskak` and `maskwa`, which afaik, is a bug in our implementation. I will introduce a fix.

[2020-01-17 02:04] Madoshakalaka commented on #165
@aarppe I just realized this issue is recently (partially) achieved. @eddieantonio and I have switched to a more standard workflow where the database on the server is always persisted unless required to be changed.

We have already created a pretty power admin console that allows many changes to specific words and other things in our database backend. Security/permission-wise, this console is only

[2020-01-17 04:45] aarppe commented on #215
You've got more cases enumerated in #100.

[2020-01-17 05:16] aarppe opened #218 "Matching Cree forms with long vowels unmarked not working"
Pursuant #195, in searching with a Cree word ignoring vowel length, e.g. _kihci-mohkomaninahk_ for _kihci-môhkomâninâhk_ or _kihci-mohkoman_ for _kihci-môhkomân_, does not result in a match. Contrary to our assumption, one needs to get the vowel-length-diacritics right, which is not the expected behavior. Does the hyphen derail the matching algorithm?

[2020-01-17 06:09] aarppe opened #219 "Presenting individual analyses with multiple alternative word forms"
As a specific follow-up to, #100, there are several abstract forms that have multiple surface-form realizations, e.g. certain unpecified actor forms as well diminutives (for which currently we generate both the short and long form, though that may change), cf.

[code]

In theory one should provide both. This gets tricky, if we want to match and present only the form that was likely sought for with

[2020-01-17 20:03] eddieantonio opened #220 "Create glossary in docs/"
Our projects involve lots of terminology, and we need to make sure we're being consistent with our terminology

Here are some terms we need to define

 - [x] analysis
 - [x] definition
 - [x] lemma
 - [x] wordform
 - [x] ~~inflection~~
 - [x] ~~lexical category~~
 - [x] ~~lexical~~ dictionary entry
 - [x] normatize/standardize
 - [x] (dictionary) source

@aarppe any other terms?

- [x] dictionary

[2020-01-18 02:46] aarppe commented on #153
The relabelings can be found here in the Giella infrasctructure:

`giella/apps/dicts/nds/src/neahtta/configs/language_specific_rules/user_friendly_tags/itwewina.relabel`

We would actually want to turn this into a single TSV file with multiple columns for the different possible representations of the features we need, and exclude quite much relabeling that is not needed in the new itwêwina. This w

[2020-01-18 04:19] aarppe commented on #165
Ok, so I logged onto the admin side, and tried to add a hyphen to _ni_, since as a non-independent prefix it should always be written as _ni-_, but then I get the following error message:

![image](https://user-images.githubusercontent.com/15003407/72658489-f5212f80-396e-11ea-9417-e3122cac9a11.png)

I only changed the text, so it's not apparent what else I should change or fix.

[2020-01-18 04:34] aarppe opened #221 "Edit-distance weights need to be easily configurable"
As an improvement and generalization to #195, we need a non-computational way of manually specifying edit-distance weights by linguists etc..

In the first instance, this could be done context-independently, though on the longer term one would want to restrict certain weight-adjusted edits to certain contexts. The weights can be extracted from the regular expression that is specified for the weigh

[2020-01-18 04:54] aarppe opened #222 "Modified edit-distance matching missing some edits or has suboptimal weights"
The following is a selected set of test strings for which the weighted edits sometimes work and sometimes not:

[code]

[2020-01-19 02:51] aarppe commented on #222
Here's the above being run through and recognized by a descriptive FST with a weighted spell-relax:

[code]

[2020-01-19 04:57] aarppe commented on #153
A first stab at this relabeling/alternative labeling file can be found in:

`../giella/langs/crk/inc/paradigms/crk.altlabel`

[2020-01-21 07:32] aarppe commented on #220
For starters, some if which are more or less synonyms of the terms already enumerated above:
- [ ] gloss
- [ ] translation
- [ ] derivation
- [ ] dictionary entry
- [ ] stem
- [ ] (inflectional) paradigm
- [ ] inflected form
- [ ] derived form
- [ ] (orthographically) standardized/normatized form
- [ ] inflectional category
- [ ] declination
- [ ] conjugation
- [ ] part-of-speech
- [ ] word class

[2020-01-21 21:10] eddieantonio opened #223 "Typing "ayiman" does not result in "âyiman""
The correct word is "âyiman", but search for it without the diacritic yields nothing. Spell-relax should match it with or without the diacritic.

https://sapir.artsrn.ualberta.ca/cree-dictionary/search/%C3%A2yiman/

https://sapir.artsrn.ualberta.ca/cree-dictionary/search/ayiman/

[2020-01-21 21:19] eddieantonio commented on #223
Potentially related to #222?

[2020-01-21 22:43] Madoshakalaka commented on #153
@kobexamoh
https://gtsvn.uit.no/langtech/trunk/langs/crk/inc/paradigms/crk.altlabel
This is the full link of the place Antti mentioned. You'll be needing this file to update our interface!

[2020-01-21 23:17] #223 closed

[2020-01-21 23:27] Madoshakalaka commented on #218
I think it's fixed now

[2020-01-21 23:27] #218 closed

[2020-01-21 23:27] Madoshakalaka commented on #223
it's fixed now

[2020-01-22 01:25] aarppe commented on #153
An online version of the above `crk.altlabel `file now stored in the Norwegian SVN can be found with the following link:

`https://gtsvn.uit.no/langtech/trunk/langs/crk/inc/paradigms/crk.altlabel`

[2020-01-22 01:33] aarppe commented on #99
An online version of the above `crk.altlabel` file now stored in the Norwegian SVN can be found with the following link:

`https://gtsvn.uit.no/langtech/trunk/langs/crk/inc/paradigms/crk.altlabel`

This five columns in this file should pretty much map with the alternatives 1-5 at head of this issue. However, in some cases, one can come up with a meaningful label for each category, e.g. FST feature

[2020-01-23 00:38] aarppe opened #224 "Presenting inflected Cree word forms with explicit or generated English definitions"
Following up on #209, this issue focuses on example mock-ups of cases/searches that match with dictionary entry providing an explicit or generated translation of an inflected word form of some particular lemma.

1. Explicit translations:

![image](https://user-images.githubusercontent.com/15003407/72946978-c96ec280-3d3d-11ea-95cd-9bd4044aaf25.png)

![image](https://user-images.githubusercontent.co

[2020-01-23 00:42] aarppe commented on #224
@eddieantonio This is an mock-up of dealing with these forms that we discussed this afternoon. Maybe one might add some hairline between the translation for the inflection and the information concerning the lemma.

[2020-01-23 01:41] #100 closed

[2020-01-23 01:42] aarppe commented on #205
A general note for interpreting the more detailed issues above. Since we've been working on the new itwêwina since the summer and our understanding of the functionalities has evolved over time, the earliest issues are best in addressing the overall general gist of the functionalities, and our views may and will have changed concerning whatever detail is presented. In this respect, the best reliabl

[2020-01-23 22:30] Madoshakalaka commented on #201
@eddieantonio can you update here on the most recent mock-up revision?

[2020-01-23 22:59] eddieantonio commented on #201
@Madoshakalaka, here it is!

![mockup](https://user-images.githubusercontent.com/2294397/73031405-3b581200-3df9-11ea-98c7-b22289b41050.png)

@kobexamoh, this should look like one "card" in the Zeplin mockup. When tapping the `(?)` icon, it should open up the linguistic breakdown.

[2020-01-23 23:44] aarppe commented on #201
In #224 we have some more explicit mock-ups of various scenarios with wordforms and lemmas (the ones in #209 are slightly dated).

[2020-01-24 00:11] aarppe opened #227 "Presenting search results of Cree inflected forms with preverbs: enipat"
A. Search with _enipat_:

![image](https://user-images.githubusercontent.com/15003407/73034450-2cc22880-3e02-11ea-922b-e45603b2cd6a.png)

A1. Clicking on first ![image](https://user-images.githubusercontent.com/15003407/73034485-4bc0ba80-3e02-11ea-8251-ee26030499db.png) beside _**ê-nipât**_  ![image](https://user-images.githubusercontent.com/15003407/73034693-dd302c80-3e02-11ea-93bb-7c8f97e2f087.p

[2020-01-24 00:27] aarppe opened #228 "Presenting search results of Cree inflected forms with preverbs: enitawiwapamat"
A. Searching with _enitawiwapamat_ gives the following two initial results. The difference is the length of the vowel, which is associated with two different linguistic analyses:

A1. The first standardized match:

![image](https://user-images.githubusercontent.com/15003407/73035020-fdacb680-3e03-11ea-90db-b2f452f43837.png)

A2. Clicking on the first ![image](https://user-images.githubusercontent.

[2020-01-24 00:40] aarppe commented on #209
See #224 and #227 for updated mock-up versions of the above.

[2020-01-24 16:51] eddieantonio opened #229 "We have too many dang issues!"
The amount of overlapping and outdated issues we have is getting a bit out-of-hand. @aarppe, could you please go on a spree and close all outdated/already addressed issues, and close issues that that overlap or are covered by other issues?

To start with, you can mark issues with `duplicate`, and then link them together, and THEN close some issues. That way, your dev team has less to worry about!

[2020-01-24 22:22] Madoshakalaka opened #230 "Test database and XML do not include all relevant entries"
test database shows the following result:
![Screenshot from 2020-01-24 15-17-39](https://user-images.githubusercontent.com/44753941/73108140-bcc4a880-3ebc-11ea-9ead-c16788fd0373.png)

while in production:
![Screenshot from 2020-01-24 15-17-45](https://user-images.githubusercontent.com/44753941/73108143-be8e6c00-3ebc-11ea-8cb8-8b75c8b4871b.png)

Further inspection suggests that "kawinêw" is only in

[2020-01-24 22:49] Madoshakalaka commented on #201
implemented in #226

[2020-01-24 22:49] #201 closed

[2020-01-24 22:52] Madoshakalaka commented on #224
update: explit definition is now shown in production. Icons are now not incorparated because automatic English definition generation is not yet there.

[2020-01-26 03:52] eddieantonio opened #231 "Searching for "tatawaw" yields zero results"
**Given**: I search for "tatawaw".
**Expect**: a result for "ta-tawâw" (a form of **tawâw**)

---

"tatawâw" means "welcome" in nêhiyawêwin. This is Cree 101 terminology, or one of the first words you learn in Cree.

Searching for "tatawaw" yields zero results in the current production site: https://sapir.artsrn.ualberta.ca/cree-dictionary/search/tatawaw/

Compare that to the old itwêwina: https:/

[2020-01-28 23:29] aarppe commented on #224
The only icon that is relevant for the generation of inflected English definitions is the exclamation mark - which is supposed to indicate such generated translations.

On the other hand, what can and should already be implemented is the provision of the linguistic breakdown (i.e. the spelling out of the underlying analysis FST tags), which can be toggled with the question mark icon. When there is

[2020-01-28 23:56] aarppe commented on #201
Duplicate of #209.

[2020-01-29 00:00] aarppe commented on #100
Currently duplicate of #209.

[2020-01-29 00:03] aarppe commented on #140
Duplicate of #209.

[2020-01-29 00:03] #140 closed

[2020-01-29 00:05] aarppe commented on #153
Duplicate in that it is exemplified in #209.

[2020-01-29 00:07] aarppe commented on #209
The relabeling schemes can be found here in issue #153: https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/issues/153#issuecomment-576921074

[2020-01-29 00:15] aarppe commented on #100
Duplicate of #209.

[2020-01-29 00:17] aarppe commented on #228
Duplicate of #209.

[2020-01-29 00:18] #228 closed

[2020-01-29 00:18] aarppe commented on #227
Duplicate of #209.

[2020-01-29 00:19] #227 closed

[2020-01-29 00:22] aarppe commented on #196
Duplicate of #197.

[2020-01-29 00:22] #196 closed

[2020-01-29 00:36] aarppe commented on #229
I've now gone over the open issues. One should start with #205, and follow the lead issues mentioned there, namely #209 and #224 for AEW compliance, and then #128 and #149 for MESC compliance, and #123 for making the last step for us to no longer need the old itwêwina.

Everything else are either bugs or other unexpected functionality in current implementation, or nice improvements. Obvious bugs s

[2020-01-29 01:21] aarppe opened #232 "Ordering of dictionary information for inflected forms with English definition"
As a specific observation/argument pertaining to #209, the more I look at the actual current search results, e.g. with _kôhkom_ (edited and annotated so that this screenshot is understood as something to be changed):

![image](https://user-images.githubusercontent.com/15003407/73418850-49ff6700-42da-11ea-80bf-7f0d10efb04e.png)

... the more I think that ordering of the definition and lemma should

[2020-01-29 16:13] eddieantonio commented on #232
I like this! @kobexamoh, this is a good one for you!

[2020-01-29 18:41] Madoshakalaka opened #234 "trailing space after preverbs in card title"
I demand _perfection_

![Screenshot from 2020-01-29 11-39-12](https://user-images.githubusercontent.com/44753941/73386441-15fd5500-428c-11ea-9931-b709de82ecff.png)
![Screenshot from 2020-01-29 11-38-54](https://user-images.githubusercontent.com/44753941/73386455-1a297280-428c-11ea-84ad-9337ec03d695.png)

These preverbs have a dash attached to them in `crkeng.xml`, like "nipa-" "su-". Maybe that's

[2020-01-29 22:23] aarppe commented on #232
Note that the **_stem_** is a separate field in the dictionary source, that we have for all CW content, and MD content that matches with CW content. However, for MD content not matching CW content, we do not yet have a stem. The stem is the lemma without the inflectional affixes, e.g. _-ohkom-_ for _nôhkom_.

[2020-01-29 23:42] eddieantonio opened #235 "Stem should be imported into the Wordform model"
For wordforms that are lemmas (all from `CW`, which might be matched with `MD` but not always not), they must also keep track of the stem. This is needed for presentation in the linguistic breakdown (#153, #209)

e.g.., atim (NA) has the stem "atimw-". This would show up in the linguistic breakdown, so breaking down "atimwak" would be: "atimw- + Noun + Animate + Plural".

e.g., maskwa (NA) has the

[2020-01-29 23:58] eddieantonio commented on #153
Hey, @kobexamoh focus on #209. Doing that will resolve this issue as well!

[2020-01-30 00:34] kobexamoh commented on #153
Oh thank goodness, okay! I was about to PM you to ask about which issues to focus on/how best to make sense of them. Thanks for the direction 🙏

[2020-01-30 01:03] Madoshakalaka commented on #235
:cry: I got this

[2020-01-30 07:59] aarppe opened #236 "The corpus/dictionary-based ranking of Cree dictionary entries needs to be implemented."
When I search with the English word _sleep_, I get the following results:

![image](https://user-images.githubusercontent.com/15003407/73429379-cb65f200-42f8-11ea-9fa2-9fc77db8c4ac.png)

As this is not optimal, we need to incorporate in the database the ranks generated  #197, and sort the English search results accordingly.

This is the ordering of the above results, if using the said ranking and

[2020-01-30 09:48] Madoshakalaka commented on #236
I don't usually sleep with bare buttocks. But yes, this makes a lot of sense for English keyword search.

Yes, search resulted matched from English results is just unsorted and left random. We have "todo:" in the proper place for English search sorting code.

This looks straightforward to implement with `giella/art/dicts/crk/Wolvengrey/W_aggr_corp_morph_log_freq.txt`!

[2020-01-30 10:37] aarppe commented on #236
@Madoshakalaka Good - since the giella/art directory (on SVN) requires special access, just let me know where we keep the dictionary source files (that are not public) so that I can copy the W_*.txt file there, if you can't get hold of the file otherwise.

[2020-01-30 15:42] eddieantonio commented on #236
Evidently neither do nêhiyawak:

[2020-01-30 17:07] eddieantonio opened #237 "Linguistic breakdown popup (❓) should be keyboard-accessible"
The linguistic breakdown popup (the thing selectable by hovering over the (❓) button) should be accessible via the keyboard, namely by pressing the <kbd>Tab</kbd> key.

Here is the current (incorrect) behaviour:

![tabbing 2020-01-30 10_03_58](https://user-images.githubusercontent.com/2294397/73472185-dc8a1f80-4347-11ea-8a3a-2bbad7fb240d.gif)

**EXPECTED**: when I press <kbd>Tab</kbd>  when the se

[2020-01-31 02:28] aarppe commented on #235
The stems are provided in the old XML in the `<stem>...</stem>` field. All CW dictionary entries should have a stem, and if/when MD ones have been linked to CW entries, then they share the stem.

For dictionary entries solely in MD, the stems need to be manually added, later on.

[2020-01-31 19:25] eddieantonio opened #239 "The (❓) should be a ℹ️ icon instead"
Currently, to get the linguistic breakdown for a word, you have to hover or tap the blue (❓) icon next to the head. Could we make something more intuitive?

One alternative is to use the ℹ️icon (or the https://fontawesome.com/icons/info-circle?style=solid from fontawesome).

@kobexamoh, @atticusha  I'd like to hear your opinion on this!

[2020-02-01 00:03] kobexamoh commented on #239
So I see this quote from Dr Lachler – I didn't get a chance to ask him about this interaction. When he saw the icon, what did he think it would do? That might help with picking a different icon.

[2020-02-01 07:12] atticusha commented on #239
I believe that Mr. doctor professor director Jordan Lachler was under the impression that the icon would offer some sort of help menus or instruction set. I assumed the same.

I think the ℹ️ emoji would probably be better here. Alternatively we could use 👁 because I find it exceedingly uncomfortable.

[2020-02-01 17:02] eddieantonio commented on #239
Lol I think https://fontawesome.com/icons/info-circle?style=solid is fine:

![info-icon](https://user-images.githubusercontent.com/2294397/73595843-01160100-44da-11ea-9300-7d0d5717666c.png)

And yes, I too think he thought the (❓) would give some sort of help text; instead it should show the linguistic breakdown ("more info")

[2020-02-04 03:46] aarppe commented on #209
@kobexamoh In terms of priority, here is an ordered listing of subtasks for presenting the dictionary entry match and linguistic breakdown:
- [ ] 1. moving the dictionary entry for an inflected form between the standardized form and the `form of ...` line (see _nicihciy_ above)
- [ ] 2. relabeling of FST feature tags (to linguistic ones), e.g. `Ind` -> `Independent`, regardless of formatting
- [ ]

[2020-02-04 04:20] aarppe commented on #235
@Madoshakalaka In terms of immediate priority, we can make do in the linguistic breakdown with **just the lemma**, _without any hyphens generated before or afterwards_, until the stem importation is done. When the stem import is done, **no hyphens should be generated** but one should use the stems exactly as they are.

[2020-02-05 18:03] eddieantonio commented on #209
Hey @kobexamoh! Since #240 and #241 is merged, you can use the **user-friendly tags** and are no longer blocked here. 😃

[2020-02-06 00:31] Madoshakalaka commented on #208
update: maybe it's specific to the linux system I use cuz I noticed some other emojis on github do not render for me. Also

e.g.
The rectangles below is a screenshot I took on my Linux desktop. They should be "exploding head exploding head exploding head" and it renders as emoji perfectly fine on my iPhone.

![Screenshot from 2020-02-05 17-27-45](https://user-images.githubusercontent.com/44753941/

[2020-02-06 00:33] aarppe commented on #209
Yes, https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/pull/240#issuecomment-582231367

The originally unintended result (Plain English relabeling) turned out to be a good one (i.e. matching with the paradigms).

[2020-02-06 01:52] Madoshakalaka commented on #208
can confirm it looks pretty nice on my windows tablet:

![Capture](https://user-images.githubusercontent.com/44753941/73899013-838b2180-4848-11ea-8f23-758a553841f7.PNG)

It's just the edgy 19.10 Ubuntu system and maybe the chrome I'm using then.

[2020-02-06 02:02] Madoshakalaka commented on #208
Since my chrome doesn't render **any other** emojis in plain text, I'd say this isn't a bug others will encounter

[2020-02-06 02:02] #208 closed

[2020-02-06 19:38] eddieantonio commented on #239
I changed the title, as this is now an improvement to be implemented! 👍

[2020-02-07 04:09] aarppe commented on #235
Stems can be found in the crk-to-eng aggregate XML file, i.e. `giella/art/dicts/crk/crkeng_cw_md.xml` (the other way around was intended for linking English search words with the headwords of the Cree dictionary entries, but not have the entire content).

[2020-02-07 22:01] aarppe opened #243 "MD-only non-standardized non-matched dictionary entries should not appear at all"
Presumably, we had excluded all dictionary entries that can be found in only MD and which have not been matched with CW.

Nevertheless, there are still a few prefix ones that are only in MD, and even more importantly are orthographically non-standardized.

![image](https://user-images.githubusercontent.com/15003407/74068748-a6891300-49b9-11ea-8d59-d1db1a141880.png)

![image](https://user-images.gi

[2020-02-07 23:01] Madoshakalaka commented on #243
yeah! This is exactly part of the fix I was working on these days! Optimistically, these MD-only contents will be gone on Tuesday.

[2020-02-08 00:31] Madoshakalaka opened #245 "Some preverbs do not have link to their detail page"
"e-" should has a link to the page.

![Screenshot from 2020-02-07 17-30-26](https://user-images.githubusercontent.com/44753941/74075412-8ebc8980-49cf-11ea-841c-86df55efafdd.png)

[2020-02-08 00:41] aarppe opened #246 "Preverbs in breakdown not getting English definition"
Following up on #244 and trying out _e-ati-pe-miyo-nitawi-nipat_:

![image](https://user-images.githubusercontent.com/15003407/74075589-697c4b00-49d0-11ea-812c-cbf6e6fc3856.png)

... it appears that preverbs with 2 characters (_ê-_ and _pê-_) or less are not indicated to have an English definition (as suggested by being underlined.

- [ ] _ê-_ should get a English definition
- [ ] _pê-_ should get

[2020-02-08 00:42] Madoshakalaka opened #247 "Words takes too long to appear"
After #244, some words take apparently longer time to be searched

e.g. search string `wapamat` takes a full 1.8 seconds for server to process.

This must be caused by the exhaustive match of preverbs. Currently, matching for preverbs in the database will happen for whatever query.

We can skip the matching for non-preverbs with some simple hashing.

[2020-02-08 00:44] Madoshakalaka commented on #245
duplicate of #246

[2020-02-08 00:44] #245 closed

[2020-02-08 00:45] aarppe opened #248 "Preverb breakdown needs to provide English definitions for preverbs"
Following up on #244, click on the preverb (e.g. nitawi-) in the linguistic breakdown

![image](https://user-images.githubusercontent.com/15003407/74075755-633a9e80-49d1-11ea-84e5-f065505af894.png)

... is not giving the English translation. Instead, clicking the link takes you to the front/landing page.

- [x] clicking on/hovering over preverb provided in linguistic analysis should present Englis

[2020-02-08 00:47] Madoshakalaka commented on #248
@aarppe hey I know this is a feature to be implemented. `bug` tags makes me nervous.

[2020-02-08 03:58] aarppe opened #249 "What XML source do we currently use - what XML source should we use, or not?"
@Madoshakalaka @aradu12 @eddieantonio This is a revival of #165: Looking at the current new itwêwina content, we appear to be using `giella/art/dicts/crk/engcrk_cw_md.xml`, since I am seeing MD prefixes as dictionary entries that have not been orthographically standardized and which have not been matched with CW dictionary entries. The only source XML which contains those MD dictionary entries is

[2020-02-08 04:23] aarppe opened #250 "Present relabeled FST tags vertically (if the horizontal version does not fit the screen)"
Now, the longer plain English relabelings of the linguistic breakdown expand horizontally beyond the screen boundary, cf.

![image](https://user-images.githubusercontent.com/15003407/74079096-dd7a1b80-49ef-11ea-90d7-5b68501b144f.png)

As an alternative, the linguistic breakdown should be presented vertically, perhaps with each feature and lemma/stem on its own line.

On a longer term, the presenta

[2020-02-08 21:31] Madoshakalaka commented on #248
This is implemented by #251

[2020-02-08 21:31] #248 closed

[2020-02-08 21:33] Madoshakalaka commented on #250
following #251, it now adjusts based on available screen size. But I think the arrangement of the text still need some polish

[2020-02-08 21:44] Madoshakalaka commented on #237
@eddieantonio very keyboard accessible now

[2020-02-08 21:44] #237 closed

[2020-02-08 21:49] eddieantonio opened #252 "Linguistic breakdown button has no :focus style"
Follow up on #237.

When I select the ℹ️popup, there should be a visual indication that this item is focused. This can be done with the :focus state in CSS.

https://developer.mozilla.org/en-US/docs/Web/CSS/:focus

Suggested implementor for this issue:

  - @kobexamoh

[2020-02-08 23:26] Madoshakalaka opened #253 "linguistic breakdown popup can't be dismissed on mobile device"
I tested on an iPhone, the popup shows when one taps on the icon (question mark). But the popup won't disappear. It is a problem as the popup blocks other elements the user may want to see and interact with.

Ideally, the popup should disappear when the user taps anywhere else on the screen.

[2020-02-09 09:16] aarppe commented on #163
@Madoshakalaka The empirical rankings have been updated based on the latest CW content from AEW.

[2020-02-09 18:27] aarppe commented on #197
The AWK code above has been turned into a shell-script `giella/langs/crk/tools/shellscripts/wolvengrey-weight.sh` to create a revised weighting for CW content, as follows:

`cat ~/GDrive/CreeFST/Wolvengrey/Wolvengrey_crk2eng_200202_altlab.tsv | tools/shellscripts/wolvengrey-weight.sh /Users/arppe/GDrive/CreeFST/Wolvengrey/Wolvengrey_crk2eng_200202_altlab.tsv /Users/arppe/giella/art/corp/crk/ahenak

[2020-02-09 18:41] aarppe commented on #163
Ranking file now exists and has been updated to match newest version of CW.

[2020-02-09 18:41] #163 closed

[2020-02-09 18:45] aarppe opened #254 "Incorporate lemma rankings in our lexical database"
With #163 being completed with the calculation of weights available in: `~/giella/art/dicts/crk/Wolvengrey/W_aggr_corp_morph_log_freq.txt`, the next step is to read in and incorporate these weights in our lexical database.

Once this is done, the actual ranking of search results in #197 can proceed.

[2020-02-09 18:55] aarppe opened #255 "Read into lexical database new version of crkeng_md_cw*.xml"
Since we now have processed the latest version of CW, both as dictionary content (`giella/art/dicts/crk/crkeng_cw_md_200208.xml`) and expanding the lexicon of the crk FST, this new content should be uploaded into our lexical database.

[2020-02-09 18:57] aarppe commented on #255
For our reference, the code for creating the above file is the following (the second file should be kosher, in excluding all MD-only dictionary entries):

[code]

[code]

I didn't try to create the eng-to-crk direction, since that would need redoing the entire current XML file. Nevertheless, that should be reconstructible using the English words in the definitions as the indices. On the longer ter

[2020-02-09 18:59] aarppe opened #256 "Update crk FST to match new version of crkeng_md_cw*.xml"
In conjunction with #255, we need to update our crk FST to the latest version matching with the new dictionary content.

[2020-02-09 19:01] aarppe commented on #256
Ideally, we would have an semi-automatic pipeline for taking the latest version of the crk FST. But what we need to figure out for ourselves is whether the FST used by itwêwina is updated automatically when the FST is updated, or whether this needs to be initiated by a linguist/programmer.

Nevertheless, we would want a simple, single updating command for this, likely with some diagnostics to ensu

[2020-02-09 19:05] aarppe opened #257 "Create a simple process for updating crk FST into itwêwina"
Since the crk FST will be updated based on CW updates and modifications to the affixation, we would need a stream-lined process which will update the itwêwina FSTs (descriptive analyzer and normative generator) and the content that is generated with the FSTs (paradigm content).

As part of that process, we would need some diagnostics for checking that the change won't wreck the functionality of it

[2020-02-09 19:09] aarppe opened #258 "Create a simple process for updating itwêwina dictionary content"
Creating a more permanent solution for #255, since CW is being continuously updated, and we will be expanding MD based on the Cree recordings (and this involves a gradually increasing number of these spoken snippets matching dictionary entries), we would want a simple, straight-forward process for updating our crk lexical database providing content for itwêwina.

In this, we'd want some diagnostic

[2020-02-09 19:19] aarppe commented on #99
This is an extension of #209.

[2020-02-10 05:06] aarppe opened #259 "Implement links from recordings to speakers (individually and collectively) from itwêwina"
[@aradu12 This is a duplicate cross-over from https://github.com/UAlbertaALTLab/itwewina/issues/111]

- [x] links to individual speakers from individual recordings spoken by them
- [x] link to collective speaker/project page either as a speaker tab and/or from the About page

1. clicking speaker name in conjunction with the recording snippet in itwêwina either takes one to that speaker's picture a

[2020-02-10 05:14] aarppe opened #260 "Extract latest new batch of Maskwacîs Cree recordings"
This is a cross-over duplicate of https://github.com/UAlbertaALTLab/recording-validation-interface/issues/73#issuecomment-562206385

This is needed to expand the number of dictionary entries being linked with recordings.

[2020-02-10 16:56] kobexamoh commented on #239
Final update to this incoming – gonna be pinging y'all for a review in an hour or so 🤞

[2020-02-10 23:45] #234 closed

[2020-02-10 23:45] #243 closed

[2020-02-11 00:02] Madoshakalaka commented on #250
@aarppe I'll close this. Since adapting vertically is achieved now.

What isn't achieved is "better formatting", like presenting head, tail analyses on separate lines. This requirement is detailed in issue #209, and we have a [checkbox](https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/issues/209#issuecomment-581729948) for it

[2020-02-11 00:02] #250 closed

[2020-02-11 00:04] #229 closed

[2020-02-11 00:04] Madoshakalaka commented on #229
closed for being too sassy

[2020-02-12 18:36] Madoshakalaka commented on #246
just fixed it
![Screenshot from 2020-02-12 11-36-09](https://user-images.githubusercontent.com/44753941/74365765-f1c16e00-4d8b-11ea-8433-7a841fd8a88b.png)

[2020-02-12 18:40] eddieantonio commented on #246
@Madoshakalaka, the icons should be ℹ️and not (❓)! Please change this before closing this issue again.

[2020-02-12 19:18] aarppe commented on #246
Also, I'd presume that the link should take to the appropriate dictionary entry page, e.g. for _ê-_:

![image](https://user-images.githubusercontent.com/15003407/74368887-b1fd8500-4d91-11ea-9b66-e41bade814a8.png)

Right now, clicking on the preverb, you end up on the website landing page.

[2020-02-12 19:28] aarppe commented on #255
@Madoshakalaka Uploading the latest CW (+ MD) content would be a very useful improvement, as Arok's new source includes all reduplicative elements with translations (though coded as Preverbs).

I'm not sure we want to include those as preverbs proper in the FST, as that would allow any
_Ca-/Câh_- combine with any stem, without matching the initial V/C of the stem, unless some changes are made. But

[2020-02-12 19:53] Madoshakalaka commented on #246
:cry: okie

[2020-02-12 20:19] Madoshakalaka opened #264 "infomation icon overflows out of entry card"
Tested on Chromes phone emulator with model iPhone 5

![Screenshot from 2020-02-12 13-17-52](https://user-images.githubusercontent.com/44753941/74373755-4966d600-4d9a-11ea-84e5-0bc52f87dbf9.png)

[2020-02-12 20:20] Madoshakalaka commented on #264
side thing: e- doesn't have a "i" icon cuz test database doesn't have it

[2020-02-12 21:42] aarppe commented on #246
Great!

Also, using the new crkeng.xml (we have to make sure you have access to that, which cannot be made publicly available, BTW), we'll ensure that the orthographical representations of the preverbs are correct (mostly being from CW, but some from MD as above).

[2020-02-13 00:49] #246 closed

[2020-02-13 00:50] Madoshakalaka commented on #246
@aarppe I'll look into the new file when I'm free

[2020-02-13 00:56] Madoshakalaka commented on #246
@aarppe there's some more new issues. Could you arrange them by priority again so that I know what to focus on?

[2020-02-13 00:58] Madoshakalaka commented on #246
by the way, now the links for preverbs should go to the dictionary entry page

[2020-02-13 01:02] aarppe commented on #246
Addressing issue #255 would be good for starters, since uploading the latest version of the crk-to-eng source will resolve many issues, not just making available English translations the very latest set of lexical preverbs (as well as deduplicative elements), but also update the entire dictionary content (which will exclude non-standardized MD content, per requirement).

[2020-02-13 01:05] eddieantonio commented on #153
Closing this in favour of #209.

[2020-02-13 01:05] #153 closed

[2020-02-13 01:06] eddieantonio commented on #99
Closing this in favour of #209.

[2020-02-13 01:06] #99 closed

[2020-02-13 01:19] aarppe commented on #256
This update is really important, as the latest FST implements fixes to the affixation of nouns (only shorter _-is_ diminutives, unless otherwise indicated by corpus evidence, plural-only nouns) and verbs (correct suffixes for several inflectional subtypes of TA verbs with some frequent lemmas such as _itêw_ - e.g. `2Sg>3SgO` imperative should be _isi_ with an _-s-_). In addition, it adds several t

[2020-02-13 01:25] Madoshakalaka commented on #246
@aarppe OK

by the way, I think clicking on preverb links will still NOT bring you the correct results.
But it is caused by the bug described in #210, _i.e._ visiting directly by link does not fetch you results. I don't think it is a very urgent bug as all the search result information can be displayed by the popup.

[2020-02-13 01:28] aarppe opened #266 "Improving the formatting of the linguistic analysis pop-up"
Following up on #209, we now have a practically usable presentation of the linguistic breakdown.

@kobexamoh The next step improving the formatting of the linguistic breakdown, e.g. presenting

1.  one feature per line on smaller screens, and/or

2. i) prefix features and ii) suffix features together and iii) the stem on a line of their own.

... and all this dynamically adapted based on screen si

[2020-02-13 01:30] aarppe commented on #209
If steps 1-3 above have tests, then we can close this issue, with step 4 having been moved into its own issue #266.

[2020-02-13 01:32] aarppe commented on #246
@Madoshakalaka Yeah, it's not exactly what we want, but good enough for now, and addressing some other internal content issues are actually quite important right now.

[2020-02-13 01:38] Madoshakalaka commented on #210
actually this works for me locally -- I can't reproduce the issue. Can anybody confirm? @eddieantonio @kobexamoh

[2020-02-13 04:28] aarppe commented on #256
Examples of less desirable behavior that the new FST fixes:

1. Productive generation of double diminutives: search with _asikanis_ (or _askikanisis_), and receive both _asikanis_ and _asikanisis_. Since we have no corpus example of the longer form, only the shorter form, _asikanis_, should be recognized and presented.

![image](https://user-images.githubusercontent.com/15003407/74401271-fadb2b00-

[2020-02-13 16:50] aarppe commented on #256
@eddieantonio As for getting multicharacter symbols out of HFST (or XFST), I recalled that there is an option that sort of does that, the `print-space` variable toggled with the `-X` option, cf.

[code]
Of course, this appear to work only for `hfst-lookup `and not `hfst-optimized-lookup`.

[2020-02-13 19:00] #209 closed

[2020-02-13 22:57] Madoshakalaka commented on #253
Fixed

[2020-02-13 22:57] #253 closed

[2020-02-14 20:16] eddieantonio opened #268 "Linguistic breakdown popup should not overlap icons ℹ️"
And it shoudn't. This can probably be fixed with a `z-index`.

@kobexamoh might fix this in the process of fixing #266.

[2020-02-14 20:17] Madoshakalaka commented on #268
yep try z-index

[2020-02-14 23:09] aarppe opened #269 "Use HFST to generate paradigms, if FOMA flookup / python-fst-lookup don't work"
@Madoshakalaka Upon waiting for the resolution of #256, if FOMA flookup / python-fst-lookup don't work, use HFST for generating the inflected wordforms in the paradigms. That way, at least the paradigms will be correct, even if the recognition might not exactly work yet.

[2020-02-14 23:13] aarppe commented on #269
I've consulted Miikka on this, and his first diagnosis is that there might be an error in the HFST-to-FOMA conversion, rather than the original FST. He's looking into this, having received the original FSTs from me.

[2020-02-15 04:21] aarppe commented on #163
There's now a shell-script `tools/shellscripts/wolvengrey-weight.sh` that implements this ranking in a more repeatable way, applicable to new versions of the AEW CW source:

`tools/shellscripts/wolvengrey-weight.sh /Users/arppe/GDrive/CreeFST/Wolvengrey/Wolvengrey_crk2eng_200202_altlab.tsv /Users/arppe/giella/art/corp/crk/ahenakew_wolfart_lemma-freq-sorted.txt > ~/giella/art/dicts/crk/Wolvengrey/W

[2020-02-15 04:29] aarppe opened #271 "Indicate dictionary source for preverb English translation pop-ups"
In follow-up to #248, when providing English definitions (translations) from both (and singe) sources, we should indicate the source with `[CW]` and/or `[MD]`.

[2020-02-15 05:36] aarppe commented on #254
The necessary ranking file `W_aggr_corp_morph_log_freq.txt` can be found on sapir in: `/data/texts/crk/dicts/itwewina/`

[2020-02-15 05:57] aarppe commented on #150
@katieschmirler Could you validate for us the English translation of _ê-kî-kâh-nitawi-kâh-kîmôci-kotiskâwêyâhk_, if that is more or less _'you and we would go very secretly in full gallop'_.

This seems to be in the Ahenakew-Wolfart collection in "piko kīkway ē-nakacihtāt: kēkēk otācimowina ē-nēhiyawastēki mitoni ē-āh-itwēt māna Cecila Masuskapoe / There’s Nothing She Can’t Do : Kēkēk’s Autobiogra

[2020-02-15 17:38] katieschmirler commented on #150
It does look like an error with the extra _kâh_-, so yes I would drop that. Also it's exclusive, so would just be "we (but not you)". I would say "we went to race very secretly" -- could be "gallop", but that seems from the dictionary entry to be the meaning when talking about an animal (though if people are racing horses, they're probably galloping).

[2020-02-16 06:25] aarppe commented on #150
@katieschmirler Ok, _ê-kî-nitawi-kâh-kîmôci-kotiskâwêyâhk_ it is. Can you eventually check the English translation in Cecilia Masuskapoe's book, so that we can be more confident about what it means?

[2020-02-16 06:27] aarppe commented on #150
![image](https://user-images.githubusercontent.com/15003407/74600156-8fe25c00-504a-11ea-9118-6244cf7e574a.png)

Eventually, we'll want more information on the reduplicated element, _kâh-_ (if that is actually reduplication), as well.

[2020-02-16 18:07] katieschmirler commented on #150
That book doesn't have a translation, so we would need to check with a Cree speaker. Otherwise I just would have provided the translation from the book. I believe _kâh-_ is reduplication in this case, as I'm fairly certain the preverb _kâh_- is grammatical not lexical and so would likely not be so far into the preverb complex.

[2020-02-17 20:54] eddieantonio opened #273 "Search results take too long to load"
@Madoshakalaka has noticed this, but searching has steadily gotten too slow. Perhaps a query isn't using an index, or there is some other issue.

[2020-02-17 20:57] eddieantonio opened #274 "Cannot find âyiman in new dictionary contents"
When using a newly build test DB, I can't find "âyiman" or "ayiman"

<img width="612" alt="search for âyiman" src="https://user-images.githubusercontent.com/2294397/74686016-6ed65400-518d-11ea-8225-00b92ed34acc.png">

But it's in the test database!

[code]

The response is... empty?

This is causing errors in #272.

[2020-02-17 22:18] eddieantonio commented on #274
I wonder if this is due to a mismatch between the FST and the dictionary contents 🤔🤔🤔

[2020-02-18 02:38] aarppe commented on #273
Yes, I've noticed it as well. I thought this might have potentially something to do with the revised FST, even though the changes we've implemented shouldn't have such slowing down effects. But since the revised FST hasn't been incorporated, it would seem to be a non-FST issue.

[2020-02-18 03:45] eddieantonio commented on #274
I tried both the new and the old FST and they have the same lemma/POS

[code]

The generated dictionary content looks like this:

[code]

Although I edited it for brevity, there's actually no `<mg>` or `<tg>` tags??!???!??!?! Is this an issue in the test data generator?

[2020-02-18 03:48] eddieantonio commented on #273
It's definitely not an FST issue, as it's not even used right now! We'll have to measure what happens during a query using profiling tools.

[2020-02-18 16:39] eddieantonio commented on #274
**UPDATE**: the reason that there is no definition for _âyiman_ in the dictionary is because the dictionary does not contain a definition for _âyiman_!

Did something go wrong in the creation of `crkeng.xml`?

---

SVN r187348:

[code]

@aarpe, could you please investigate and regenerate the files?

[2020-02-18 18:37] aarppe commented on #274
Yes, I can see that the basic NI and VII dictionary entries for _âyiman_ do have the lemma and inflectional category, but do not have a translation for whatever reason. That seems to be a problem already in the previous version of crk_cw_md.xml from a year back.

So, needs investigating.

[2020-02-18 20:26] Madoshakalaka commented on #273
duplicate of #247

[2020-02-18 20:26] #273 closed

[2020-02-18 22:57] #210 closed

[2020-02-18 22:57] #211 closed

[2020-02-18 23:00] eddieantonio commented on #210
I can still reproduce :(

Try this: https://sapir.artsrn.ualberta.ca/cree-dictionary/search/wapamew/

[2020-02-18 23:16] katieschmirler opened #277 "Basic mixed paradigm"
Should show 3 > 1,2 rather than 3', 3 would be much more common and thus the logical choice

[2020-02-18 23:17] Madoshakalaka commented on #277
@katieschmirler congrats you are officially a software developer!

[2020-02-18 23:18] eddieantonio commented on #210
Lol nm, I just didn't wait long enough for the app to redeploy >.<

Please close this again!

El mar., 18 de feb. de 2020 15:57, Matt <notifications@github.com> escribió:

[2020-02-18 23:21] katieschmirler commented on #277
https://giphy.com/gifs/animation-party-rainbow-l2JhIJb4MP9BZgFRm

[2020-02-19 06:44] aarppe commented on #255
The previous script had the fault of not disambiguating dictionary entries having exactly the same headword, and distinguishable only with the wordclass, or in some instances by the inflectional subcategory (there might be even case where the dictionary entries share wordclass and inflectional category, and differ only in terms of their definition, i.e. represent different senses of the same headw

[2020-02-19 06:52] aarppe commented on #274
This should now be fixed in: `crkeng_cw_md_200218.xml` which can be found on `sapir` in: `/data/texts/crk/dicts/itwewina/`

[2020-02-19 18:47] kobexamoh opened #279 "Search icon is missing on production site"
Our infamous search icon is missing on the production version of the site. First discovered during QA with Diane.

[2020-02-19 19:48] kobexamoh opened #280 "Search doesn't occur on 'About' page"
Search doesn't work on the 'About' page. First spotted during design QA with Eddie and Diane.

[2020-02-19 22:11] eddieantonio commented on #274
Confirmed. This issue is fixed!

[2020-02-19 22:40] eddieantonio commented on #274
https://altlab.ualberta.ca/itwewina/crk/eng/?lookup=ayiman

So... the new XML is not only incorrectly formatted, but is also missing `<source>` information. This issue is still open :/

[2020-02-19 22:43] eddieantonio commented on #274
@aarppe make sure you take care to both generate the obligatory XML nonsense, i.e.,

[code]

As well as keeping the source information:

[code]

I will **not** update dictionary contents unless all of these steps are done properly.

[2020-02-19 22:44] eddieantonio commented on #274
I manually added this to `sapir:/data/exps/itwewina/neahtta/dicts/crkeng-20200218.xml`, and thus this issue can be closed yet again.

[2020-02-19 22:44] #274 closed

[2020-02-20 00:30] aarppe commented on #255
Implemented some edits in the above code so that the necessary XML and dictionary source preambles and coda are included in the revised result.

[2020-02-20 00:36] aarppe commented on #274
My apologies for overlooking the XML and dictionary source preambles - I seem not to have been at my most careful when reviewing the revised XML, as this stuff was in the previous attempt, with its own issues, but got lost when parsing the records in a less gawkian way.

Anyhow, the fixes needed were straight-forward and now revised in the script in https://github.com/UAlbertaALTLab/cree-intellige

[2020-02-20 01:23] aarppe commented on #274
@eddieantonio will these end up on the new itwêwina as well?

Also, does the import script create an English-to-Cree index of the `crkeng*.xml` automatically (hopefully so), or does one need to create that `engcrk*.xml` as well (hopefully not).

Currently, a good test word for the new AEW content is _acâwêsiw_ (Verb, VAI-1) 's/he buys a little (of it), s/he buys some (of it)CW'.

[2020-02-20 01:29] eddieantonio commented on #274
Yes: I'll do that tomorrow.

No: we have no implementation of this right now. Could you please make a new issue?

Thanks! I'll make sure to test this tomorrow!

[2020-02-20 08:34] aarppe opened #285 "Create English-to-Cree dictionary XML content automatically from Cree-to-English source XML"
For the old itwêwina, the `engcrk*.xml` file was somewhat different from the `crkeng*.xml` file, as in the former one presented the results of an English search with definitions that appeared English-like, i.e. with verbs in the infinitive without a subject and nouns with a preceding article.

However, in the new itwêwina, there is no difference as to how the (English) definitions are presented, w

[2020-02-20 08:40] Madoshakalaka commented on #239
isn't this fixed

[2020-02-20 08:40] #239 closed

[2020-02-20 10:18] aarppe commented on #285
Here's a first stab at an GAWK script accomplishing this crudely:

[code]
Preambles and codas are needed, as is quality/sanity check.

[2020-02-20 15:51] #150 closed

[2020-02-20 17:31] eddieantonio opened #286 "Something is very wrong with the database importer"
I learned the hard way that if something fails, it _will_ delete the production DB.

I'm doing work in https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/tree/emergency-database-manager

@Madoshakalaka, please help at your earliest convenience.

[2020-02-20 21:00] Madoshakalaka commented on #286
yep, I can help if it needs refactoring or better documentation

[2020-02-20 21:00] #286 closed

[2020-02-20 21:38] aarppe commented on #285
This does not yet use English baseforms for indices. For now, we can either crudely create alternative indices by stripping off regular word-final suffixes _-(e)s_, _-'(e)s_ _-(i)ed_, _-en_, _-ing_, _-er_, and _-est_, or rely on some form of English prefix search. Eventually lemmatization would be desirable, but that can be applied directly on the English indices in the aggregated database.

[2020-02-20 21:43] aarppe commented on #274
We now have issue #285 for creating engcrk.xml.

For old NDS-based itwêwina purposes, I couldn't resist the temptation to create that XML file, just to make sure that the content is what I believe it should be. The end result is in: `sapir:/data/exps/itwewina/neahtta/dicts/engcrk_cw_md_200220.xml`

Ideally, for the new itwêwina, we need not have an explicit English-to-Cree dictionary until one has

[2020-02-20 23:25] aarppe commented on #277
Yes, we should add 3Sg > 2Sg, rather than the further obviative cases, though I'd keep 3Sg > 4 and 4 > 3Sg.

[2020-02-20 23:27] aarppe commented on #254
Note that lemma rankings are now incorporated in the latest engcrk*.xml file, namely `engcrk_cw_md_200220.xml`, to be found in `sapir:/data/exps/itwewina/neahtta/dicts/`

[2020-02-21 03:51] aarppe opened #291 "Create guidelines document that lists genuine example cases from our dictionary"
When designing user interface and functionalities, use only dictionary entries available in our dictionary sources, and pertaining to Cree morphology.

If we do not, we might end up designing functionality or appearance for which we have no or only few concrete dictionary data which could make use of such features.

[2020-02-21 17:07] eddieantonio commented on #291
Hey Antti! Is this referring to any specific instances in our codebase? If so, could you please enumerate them? In other words, could you please explain how this is a "feature"?

I'm asking because the wording makes this seem like more of a **guideline** than an _issue_. An issue, in the GitHub sense has a clear termination — e.g., a condition when the issue can be closed. We, the developers, can

[2020-02-21 17:30] eddieantonio opened #292 "Address issues discovered in February 2020 design QA"
We had a design QA session with Diane <time date="2020-02-19">a few days ago</time>. Here's a laundry list of issues to address:

 - [x] ~~"search for Cree or English" — placeholder text too big~~
 - [x] Search icon seems to be missing on production site #279
 - [x] ~~Search icon on mobile should be left-aligned: offers affordance of "I can use this to search"~~
 - [x] ~~Search icon on tablet/desk

[2020-02-21 19:04] eddieantonio commented on #292
I will do a handful of these and make a new PR, hopefully by this afternoon!

[2020-02-21 20:42] #128 closed

[2020-02-21 20:42] #149 closed

[2020-02-21 20:54] #247 closed

[2020-02-21 22:28] eddieantonio commented on #128
Rudimentary support is done! When you click on a definition, it will add a little 🔊 icon. Click that and hear a recording! e.g., https://sapir.artsrn.ualberta.ca/cree-dictionary/lemma/185694/

[2020-02-21 22:33] #279 closed

[2020-02-21 22:35] eddieantonio commented on #292
Okay, I've picked all the low-hanging fruit in #293. What's left are things that we'll require more effort! I'm unassigning myself for now.

[2020-02-21 22:43] aarppe commented on #128
Great! Already tried that and it works!

Do we have a list somewhere of what wordforms we currently have a recording for and available on the new itwêwina? I know several tens from the implementation on our old itwêwina, but a comprehensive list would be useful for demo and testing purposes.

To be explicit, the intention right now has the rudimentary implementation provides one recording per word

[2020-02-22 01:11] Madoshakalaka opened #294 "Inconsistent pages when no results are found"
Visiting `/search/poopoo` gives you the page with the welcoming message because no results are found.

While typing `poopoo` gives you a blank page.

It should be one way or another. Preferably, I think we need to inform the user with messages like "No search results found"

[2020-02-22 04:05] aarppe opened #296 "Improve layout of word form search results"
As a improvement of #205,  improve visual organization of standardized forms, lemmas, definitions, linguistic breakdowns, etc., as detailed in #224 and #232.

[2020-02-22 04:06] aarppe commented on #205
Moved into its separate issue #296: _0. Visual organization of standardized forms, lemmas, definitions, linguistic breakdowns, etc., as detailed in #224 and #232._

[2020-02-22 04:40] aarppe commented on #285
Needs testing now.

[2020-02-22 04:47] aarppe opened #297 "Add Cree translation to search box text"
The following is the Cree translation for 'Search for a Cree or English word':

_nitona nêhiyaw-itwêwin ahpô âkayâsîwi-itwêwin_

We should add that to the greyed text appear in the search box, after the English instruction.

[2020-02-22 20:37] aarppe commented on #256
@eddieantonio General observation that might, or might not matter here, but can apply generally - have we remembered to invert the FOMA FST when converting from the HFST ones (or invert the original HFST FST)?

[2020-02-24 15:54] eddieantonio commented on #128
Not currently, but I think I can make one relatively easily.

Yup! These are the plans for _less_ rudimentary recordings, but in order to enable that, we'd need to add support in https://github.com/UAlbertaALTLab/recording-validation-interface

[2020-02-24 18:24] Madoshakalaka commented on #255
update: the new xml file is already used in the test database, will use it to build the production database soon.

[2020-02-24 19:27] eddieantonio commented on #296
@kobexamoh, this one is for you, and is an extension of your current work.

[2020-02-24 19:28] eddieantonio commented on #297
@aarppe, could you please provide a mockup of what this would look like? I'm having difficulty visualizing exactly how this will work.

[2020-02-24 19:41] aarppe commented on #297
[Edited the Cree wordings after some second thoughts]
So, in addition to the English instruction 'Search in Cree or in English' in grey in the search box, in:

![image](https://user-images.githubusercontent.com/15003407/75184419-95523d00-5701-11ea-9c3f-4b5cf9fb5353.png)

... I would add after that 'nitona nêhiyaw-itwêwin ahpô âkayâsîwi-itwêwin', so that the box would rather say:

'Search in Cree o

[2020-02-24 23:44] aarppe commented on #212
@eddieantonio It looks like:

1. pressing the enter key, after inputting a string in the search box, such as _mici_, does result in that string being searched (and matched), or
2. one ends up on the landing page, if there is no match.
3. also, matching is done with every input character even without pressing the enter key, and
4. if one presses the enter key after a string that isn't a wordform, l

[2020-02-25 03:01] aarppe commented on #212
But now I notice that pressing enter with a legitimate search string results in a match, but so that the (i) info-button no longer produces a pop-up window for the linguistic breakdown nor the preverbs, if apparent. So, there is a vestigial bug.

[2020-02-25 05:18] aarppe opened #298 "Miswordings on About page"
[maskwacis-dictionary.txt](https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/files/4248491/maskwacis-dictionary.txt)

A few tweaks for the About page:

- [x] The languages referred to in the text under the caption should be **Plains Cree and English,** (not _Plains Cree and Cree_ as below), and the predicate should be **is** (in _is based_):

![image](https://user-images.githubusercont

[2020-02-25 16:01] aarppe commented on #277
@eddieantonio I fixed these in VTA paradigm source CSV file: CreeDictionary/res/layouts/verb-ta-basic.layout.csv - I hope that is the right source file, but how does this get incorporated in the public version?

[2020-02-25 16:07] eddieantonio commented on #277
We have to use the `update-layouts` command. I'll check it out.

[2020-02-25 16:09] eddieantonio commented on #277
In the meantime @aarppe, could you please address UAlbertaALTLab/plains-cree-fsts#7? I tried to lookup one of these forms this morning and it failed :(

[2020-02-25 18:54] #277 closed

[2020-02-25 21:08] eddieantonio commented on #254
@aarppe Can I close this, and continue the conversation in #197?

[2020-02-26 06:57] aarppe commented on #236
Duplicate of #197.

[2020-02-26 16:04] #236 closed

[2020-02-26 21:20] aarppe opened #305 "Expanded (CW) preverb definitions are missing"
Something has happened to expanding preverbs, so that the preverbs themselves and their English definitions are not shown:

![image](https://user-images.githubusercontent.com/15003407/75388857-df265900-58a2-11ea-8bc2-a0b33df22184.png)

I've indicated that if merging MD and CW preverbs is causing problems, then we might leave out the MD preverbs for now. But I haven't understood/intended that to me

[2020-02-27 00:19] aarppe commented on #298
Added MD source link, though that may benefit from some visual formatting.

[2020-02-27 00:24] #298 closed

[2020-02-27 01:42] aarppe commented on #285
Revised version with lemmas of English translation wordforms added. Run with the  shell-script: `crkeng2engcrk_xml.sh` and the following command sequence:

[code]
Resultant file: `engcrk_cw_md_200226.xml` to be moved to sapir.

Still needs some technical validity testing, though linguistic spotchecks appear ok.

[2020-02-27 20:55] eddieantonio commented on #220
All of these terms have been defined since 6631600!

[2020-02-27 20:55] #220 closed

[2020-02-27 21:08] Madoshakalaka commented on #143
fixed by #295

[2020-02-27 21:08] #143 closed

[2020-02-28 03:58] aarppe commented on #305
Or then they aren't, as per snapshot right now at 20:27 on Thu 27.2.2020:

![image](https://user-images.githubusercontent.com/15003407/75509191-e4b79800-59a3-11ea-8279-07c6eab7499c.png)

[2020-02-28 04:09] #285 closed

[2020-02-28 16:06] eddieantonio commented on #305
I believe this was fixed yesterday in https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/commit/e7bbf16703073c1561f2c0b4e9d135d0d9fee156#diff-600a72a544ee5ba3263ad88672409250

[2020-02-28 16:06] #305 closed

[2020-02-28 23:43] Madoshakalaka opened #306 "Preverb popup content is not properly shown"
It turns out pull request #302 was an incomplete refactoring that resulted in the following.

![lol](https://user-images.githubusercontent.com/44753941/75595255-e0918600-5a48-11ea-8daf-08b11713ce8e.PNG)

This is caused by incomplete variable destructuring in the Django template file.

An extra detail: Pull request #302 accidentally facilitated the implementation of issue #271, the template didn't

[2020-02-29 16:55] aarppe commented on #291
I think some of the fuzziness we have in the implementation of functionalities is using (Cree word) examples that are not apparent in our dictionary sources, e.g. _niskak_ (plural of _niska_ and a form of _nîskâw_) is not an inflected form in either CW or MD. However, we do have genuine examples, e.g. _nicihciy_, _nîminâniwan_, and _sîsîpis_.

At the very least, going forward we should only use ex

[2020-02-29 18:53] aarppe opened #307 "Use hfst-(optimized-)lookup to analyze Cree word forms, if python lookup doesn't work"
Use `hfst-lookup` for analyzing Cree word forms, as an interim solution if it turns out that the python lookup doesn't work and while that is being fixed.

[2020-02-29 20:04] eddieantonio commented on #123
I increased the priority of this, since I think it's pretty important to MESC. As well, I've been itching to implement it!

[2020-02-29 20:08] aarppe commented on #123
Yes, it is a very high MESC priority, and a tangible feature they will appreciate.

[2020-03-04 08:14] aarppe commented on #260
As discussed on 28.2., even if the extraction script doesn't work for all the new annotations, adding all new recordings snippets that can be easily done will improve the recording coverage of the new itwêwina.

[2020-03-05 19:05] #123 closed

[2020-03-06 02:40] aarppe opened #314 "Preverbs in syllabic script should not have hyphens"
The syllabic script for Cree does not use hyphens. So, the presentation of preverbs in syllabics should not have hyphens, e.g.

![image](https://user-images.githubusercontent.com/15003407/76044932-facfd600-5f18-11ea-80fd-78498ac79dcd.png)

In contrast, for both flavors of SRO, (final) hyphens should be presented for preverbs. So for SRO, the current behavior is entirely correct, this just needs to

[2020-03-06 20:21] #314 closed

[2020-03-06 20:30] eddieantonio commented on #269
@Madoshakalaka, could you take a look at this?

[2020-03-06 20:42] eddieantonio opened #316 "No pop-ups after pressing enter with a legitimate search string"
But now I notice that pressing enter with a legitimate search string results in a match, but so that the ![image](https://user-images.githubusercontent.com/15003407/75211237-9bb3d980-5740-11ea-82c8-3dd7f2879c06.png) info-button no longer produces a pop-up window for the linguistic breakdown nor the preverbs, if apparent. So, there is a vestigial bug.

![image](https://user-images.githubusercontent

[2020-03-06 21:34] eddieantonio opened #317 "Deployment should use SCRIPT_NAME instead of hard-coding "cree-dictionary""
We have hard-coded `/cree-dictionary` in various places in the application:

https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/blob/a04ac611d5f4591575b7fc43e79392dfb0a70d58/CreeDictionary/CreeDictionary/urls.py#L71

https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/blob/master/CreeDictionary/CreeDictionary/settings.py#L159-L161

We actually don't need to do this at all if t

[2020-03-06 22:26] #317 closed

[2020-03-06 22:39] eddieantonio commented on #317
So I tried and failed to do this in #318. I might try it again in the future.

[2020-03-10 14:58] eddieantonio commented on #269
The latest HFSTOL is merged into master. @Madoshakalaka, please merge master and use this to update the new database :D

[2020-03-10 15:14] eddieantonio commented on #291
@aarppe I would put guidelines in a markdown document within `docs/`.

Could you please **create a pull request** of a new document, outlining some "approved" examples to use in our presentation?

[2020-03-10 15:15] eddieantonio commented on #291
I've changed the issue title, because this makes it an actionable item with a clear resolution! 🎉

[2020-03-10 16:12] eddieantonio commented on #212
I've changed this issue to the following:

Search _should_ follow the conventions of other websites, like

* Google: <https://www.google.com/search?q=foo>
* GitHub: <https://github.com/search?q=foo>
* mdn <https://developer.mozilla.org/en-US/search?q=foo>
* DuckDuckGo <https://duckduckgo.com/?q=foo>

etc.

Why? Mostly because my browser picks up on it automatically:

![Screen Shot 2020-03-10 at 10

[2020-03-10 19:32] aarppe commented on #291
These are sprinkled among a bunch of previous issues, such as #209, #227, and #228. Those should be using verified examples from our Dictionary sources.

[2020-03-10 20:08] eddieantonio commented on #291
Okay: could you please create the markdown file named something like`docs/guidelines.md` or `docs/example-cases.md`?

[2020-03-10 20:34] eddieantonio commented on #231
As of 2020-03-10, this is fixed. I'm not terribly sure _when_ or _how_ it got fixed, but I can't replicate it now.

Try it! https://sapir.artsrn.ualberta.ca/cree-dictionary/search/tatawaw/

[2020-03-10 20:34] #231 closed

[2020-03-10 23:23] #212 closed

[2020-03-10 23:24] #316 closed

[2020-03-10 23:59] #280 closed

[2020-03-11 04:14] eddieantonio commented on #207
This is no longer replicable ¯\_(ツ)_/¯

Closing!

[2020-03-11 04:14] #207 closed

[2020-03-12 01:38] aarppe commented on #213
@eddieantonio After some testing, it appears that the issue for _niska_, _maskwa_, and _êsa_ is a general one concerning single stem animate nouns that take the singular suffix _-a_, and mostly also _-im_. when possessed The dictionary entry forms are recognized, but none of the inflected ones result in a match (e.g.  _maskwak_, _maskos_, _nimaskom_, _nimaskos_). I'm wondering if this might have s

[2020-03-12 01:43] eddieantonio commented on #213
Thanks! I'll have a look at it. The currently deployed version of the <itwewina.dev/> is not using Foma or the Python FST lookup for analysis ¯\\\_(ツ)\_/¯

[2020-03-12 01:57] aarppe opened #325 "Create straight-forward processes for updating dictionary FSTs and DB sources"
Going forward, we would need to have in place straight-forward processes by which the analysis and generation FSTs and the dictionary database source(s) can be updated and the results diagnosed and validated (starting with `crk`). The diagnostics are needed to ensure that the new FSTs and new dictionary source do not break any instance of our intelligent dictionaries.

- [ ] update process in plac

[2020-03-12 02:03] aarppe commented on #165
@aradu12 this is for you, based on our discussion today - we can probably treat this is a top-level meta-issue, under which we organize a number of more specific individual issues that are more straight-forwardly actionable.

[2020-03-12 02:28] aarppe commented on #213
No problem - as said, for whatever reason there are less/no issues with NIs.

[2020-03-12 15:12] Madoshakalaka opened #328 "Formatting in docs"
![Screenshot from 2020-03-12 09-09-22](https://user-images.githubusercontent.com/44753941/76536107-82e63c00-6441-11ea-9b32-700e2461912a.jpg)

[2020-03-12 15:17] Madoshakalaka commented on #328
@eddieantonio I assigned you :smiley:

[2020-03-12 15:17] Madoshakalaka commented on #328
@eddieantonio could you help with this

[2020-03-12 19:08] #328 closed

[2020-03-12 20:06] #306 closed

[2020-03-12 20:28] #271 closed

[2020-03-12 20:51] aarppe commented on #197
@Madoshakalaka For some items, the ranking now seems to work as expected, e.g. the three variants of _eat_, cf. _mowêw_, _mîciw_, and _mîcisow_:

![image](https://user-images.githubusercontent.com/15003407/76565325-f010c600-646f-11ea-9655-336b044c41dc.png)

For the various types of _see_, we get as the two top-most matches phrases,  _kîhtwâm ka-wâpamitin_  and _mahti êsa_, that surely could not ha

[2020-03-12 20:55] aarppe commented on #254
See duplicate comment: https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/issues/197#issuecomment-598412707

[2020-03-12 20:57] aarppe commented on #254
N.B. on the longer term (post-XML), I'd think that we want to import the rankings separately from a lemma/morpheme frequency list extracted from a corpus/dictionary.

[2020-03-12 23:38] aarppe commented on #291
We now have a first version for `docs/example-cases.md` in:

`https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/blob/master/docs/example-cases.md`

[2020-03-13 00:03] Madoshakalaka commented on #254
@aarppe thanks, I didn't realize the ranking is already incorporated in the new xml.

[2020-03-13 00:05] aarppe commented on #254
No problem - though note that the ranks are only in the `engcrk*.xml` (not `crkeng*.xml`)

[2020-03-13 00:14] Madoshakalaka commented on #197
@aarppe I think maybe the bug is about multi-word phrases, I'll investigate.

[2020-03-13 00:19] aarppe commented on #197
Yes, the phrases are the ones that seem to get too highly ranked - but they do have rankings nonetheless in `engcrk*.xml`.

[2020-03-13 00:22] aarppe commented on #197
And those ranks are also in `engcrk*.xml`, cf. e.g.

`<t rank="124" pos="Ipc">kîhtwâm ka-wâpamitin</t>
`

[2020-03-13 01:16] Madoshakalaka commented on #197
@aarppe it's fixed for multi-word phrases and should be up online in minutes

[2020-03-13 01:59] eddieantonio commented on #307
Hey @Madoshakalaka, could you handle this up next with the interim `hfstol` module?

[2020-03-13 02:00] eddieantonio commented on #291
Resolved as of 37326f59765356ec195723280424d0cf26d2cceb

[2020-03-13 02:00] #291 closed

[2020-03-13 02:56] aarppe commented on #291
Note that the examples in `example-cases.md` present genuine cases from our dictionary sources that can be used to test various functionalities. But those examples (the current content) are not necessarily the most frequent usage cases that one would want to use as the first introductory examples for a user of _itwêwina_. I might yet add such exemplary examples.

[2020-03-13 03:04] aarppe commented on #197
The above cases illustrate that in matching MD with CW, there are some minor but still significant orthographical differences, which result in certain matches not being made that should be identified.

E.g. MD _mitsow_ 'He eats.' is not matched with CW _mîcisow_, and likewise MD _wapimew_ is not matched with CW _wâpamêw_.

This probably should be made into its own issue.

[2020-03-13 03:48] Madoshakalaka commented on #307
@eddieantonio of course

[2020-03-13 06:16] kobexamoh commented on #268
Was this knocked off already at some point? I went to look into it a while back and made a note that (for me) it didn't seem like the breakdowns were overlapping icons.

Did a previous PR from someone take care of this issue or did I totally misread it while under the weather?

[2020-03-13 15:33] eddieantonio commented on #268
I can still replicate this in Firefox:

![Screen Shot 2020-03-13 at 9 33 01 AM](https://user-images.githubusercontent.com/2294397/76635833-ab3b6c80-650d-11ea-9cb6-ba60c65e30d3.png)

[2020-03-14 04:00] aarppe opened #339 "Include wordclass into weighting scheme"
Currently, the weighting script for dictionary entries does not distinguish lemmas with ambiguous wordclass designations. This can result in suboptimal weights, and should be easily fixable in the the weighting script (extended from #163):

` ~/giella/langs/crk/tools/shellscripts/wolvengrey-weight.sh`

[2020-03-14 05:38] aarppe opened #340 "Incorrect forms presented (and recognized) by current FST"
As a motivation for #256, here are the examples of less desirable behavior of the current FST that the new FST fixes, and why we need to implement #269 and #307:

1. Productive generation of double diminutives: search with _asikanis_ (or _askikanisis_), and receive both _asikanis_ and _asikanisis_. Since we have no corpus example of the longer form, only the shorter form, _asikanis_, should be rec

[2020-03-14 05:43] aarppe commented on #340
@Madoshakalaka In the above, I'm making explicit why we need to be able to use the new FST (even with HFST) for both recognizing search strings as well as generating the standardized forms of those strings.

[2020-03-14 05:52] aarppe commented on #254
Things look much better now, e.g. for 'eat' or 'speak':

![image](https://user-images.githubusercontent.com/15003407/76675987-de6d1280-6584-11ea-81d8-e15a4e5ff6b7.png)

![image](https://user-images.githubusercontent.com/15003407/76675995-eb8a0180-6584-11ea-8a4a-66bc23dcdffc.png)

And even here for 'see':

![image](https://user-images.githubusercontent.com/15003407/76676015-05c3df80-6585-11ea-85ce-

[2020-03-14 06:02] aarppe opened #341 "Make the feedback/email info more easily discoverable"
Now, the suggestion for feedback or suggestions is at the very bottom of the `About` page, which makes it difficult to easily discover.

![image](https://user-images.githubusercontent.com/15003407/76676226-f5146900-6586-11ea-8441-6872d70fdcf9.png)

Maybe we could mention `feedback` as its own subpage, with the `altlab@ualberta.ca` email there?

[2020-03-14 10:22] aarppe opened #343 "Many English proper names not resulting in a Cree match"
Many English proper names, e.g. Cree, Edmonton, Calgary, Canada, Canadian, etc. do not result in a matching Cree word - even though they do appear to be in the `engcrk.xml` source, cf.
[code]

[2020-03-14 10:37] aarppe opened #344 "Certain English words not getting all expected Cree matches"
Searching for _bear_, one gets many matches but not _maskwa_.

[2020-03-14 21:00] aarppe opened #345 "Merge select MD entries with CW ones"
There are a few frequent and central MD dictionary entries that have not been matched with CW ones due to non-conventional orthography. While a more permanent solution is in the works, we would manually want to add the following:

[code]

[2020-03-14 21:01] aarppe commented on #345
Depending on where this is easiest to implement, we can either change the original XML files, or the internal database.

[2020-03-15 00:26] aarppe commented on #345
Implemented the above, not only for the mentioned verbs but related words as well, in:

`~/giella/art/dicts/crk/crkeng_cw_md_200314.xml`

... which will eventually end up on sapir as well. This will require a new version of `engcrk*.xml `as well.

[2020-03-15 00:58] aarppe commented on #235
In particular, the stems are in: `~/giella/art/dicts/crk/crkeng_cw_md_200314.xml`, also to be found on sapir. Note that some entries (in particular multipart words) do not have stems. In such a case, when we get to implementing their presentation, we can just show a hyphen `-`.

[2020-03-15 01:04] aarppe opened #346 "Overview with meta-issues for second milestone version"
The following are an overview of improvements to be implemented in the **second** milestone version of itwêwina:
(**EDITED** - moved a number of issues/features to third release, so this list represents the complete set of current priorities)

- [x] 1. Recordings
   - [x] Show all recordings pertinent to a dictionary entry, exhibiting speaker/community information (#347)
   - [x] implement links t

[2020-03-15 02:45] aarppe opened #347 "Present multiple recordings from multiple speakers"
Now that we have rudimentary inclusion of recordings, we would want to expand that to include all recordings from multiple speakers relevant to a particular dictionary entry. The mockup that I have for this is from September 2019.

![image](https://user-images.githubusercontent.com/15003407/76694065-aa045f80-6633-11ea-80a0-2af26f5f1f49.png)

This likely requires a number of subtasks, for which her

[2020-03-15 02:53] aarppe commented on #167
In the mockups from Sept 2019, this is a nice visualization of what we'd want to achieve at the top level, in terms of the presentation of multiple panes labeled appropriately:

![image](https://user-images.githubusercontent.com/15003407/76694199-d4571c80-6635-11ea-90a8-ea90d820bac3.png)

[2020-03-15 04:43] aarppe commented on #339
The following script creates a lemma+POS frequency count of the A-W corpus:

[code]

The result is stored in: `~/giella/art/corp/crk/ahenakew_wolfart_lemma+pos_freq-sorted.txt` and eventually also on `sapir`.

[2020-03-16 02:49] aarppe opened #348 "Relabel also feature sequences"
Alongside relabeling individual features, sometimes we would like to enable the relabeling of feature sequences. Sometimes the relabeling makes most sense for a feature sequence/multiple rather than individual features - and sometimes treated a feature sequence as one would be desired for one type of relabelings but not for others.

Examples are:
- Actor + Goal pairs for TA verbs, e.g.: `1Sg+2SgO`

[2020-03-16 15:12] eddieantonio commented on #343
I noticed this too :(

[2020-03-16 15:18] eddieantonio commented on #340
This is not a new issue. Please add this a comment to #256.

[2020-03-16 15:18] #340 closed

[2020-03-16 15:21] eddieantonio commented on #197
This is resolved _enough_ for now. As mentioned, further work is to be done in UAlbertaALTLab/dictionary-database-model#2

[2020-03-16 15:21] #197 closed

[2020-03-16 17:05] aarppe commented on #197
Yes, it is resolved to the extent that we can achieve now. Ideally, the ranking can be adjusted by tweaking the corpus/dictionary-based ranking model, and I've supplemented that with lemma+wordclass specific weights (in comparison to the current lemma-specific ones), but that still doesn't push _mahti_ down. So, everything might not be achievable algorithmically, and we might need to tweak the wei

[2020-03-16 17:09] aarppe commented on #341
Looks fine. I suppose we could want to use the longer `altlab+itwewina@ualberta.ca` for emailing, but that would turn relatively long, in particular on the mobile screen. What if we show just the shorter email on the 'Contact Us' page, but clicking that visual email produces the longer email for one's email application?

[2020-03-16 17:15] eddieantonio commented on #341
Good idea. I'll implement it soon

El lun., 16 de mar. de 2020 11:09, aarppe <notifications@github.com>
escribió:

[2020-03-16 17:36] #341 closed

[2020-03-16 18:32] eddieantonio commented on #260
The latest batch has been imported! Now with a modest amount of new recordings. Please see attached file, or go to the secret link I sent you a while back.

[new-recordings.txt](https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/files/4339800/new-recordings.txt)

[2020-03-16 18:32] #260 closed

[2020-03-16 18:49] aarppe commented on #260
Ok - but now some words from the previous batch have disappeared, such as _wâpamêw_, at least from the list (via the link) but also live in itwêwina.

[2020-03-16 19:03] eddieantonio commented on #260
Weird. I'll need to investigate.

[2020-03-16 19:20] eddieantonio commented on #260
The reason is that I started the database from scratch, **deleting the speakers' info**. The search results only return recordings when the speakers' gender is known, but this data was deleted. I have added basic details for most of the speakers, though I think I missed some. Either way, the results are back!

https://sapir.artsrn.ualberta.ca/cree-dictionary/word/w%C3%A2pam%C3%AAw/
https://sapir.a

[2020-03-16 19:35] aarppe commented on #260
Good. I think I provide that info on the speakers in late 2018 when you were setting up the first version of the validation interface. Are there any speakers for which the necessary info is missing?

Also, does the list on the link get updated as well? (because right now I can't wâpamêw there, with whatever spelling).

[2020-03-16 19:44] eddieantonio commented on #260
The list in the link is live, though only wordforms that are spelled _exactly the same_ will match and be in the list. wâpamêw is spelled without diacritics in the recordings database, hence, it does not match with the dictionary database, but it's there. Thus, the dynamic list is a subset of available forms.

[2020-03-16 21:34] aarppe commented on #165
This is now being implemented in its own project: https://github.com/UAlbertaALTLab/dictionary-database-model

[2020-03-17 07:13] aarppe commented on #254
@Madoshakalaka Ain't this done already? Or do we need some tests to validate?

[2020-03-17 16:34] Madoshakalaka commented on #254
@aarppe Yes this is done done. I'll close it now

[2020-03-17 16:34] #254 closed

[2020-03-17 18:09] Madoshakalaka commented on #269
:D

[2020-03-17 18:29] #343 closed

[2020-03-17 18:32] Madoshakalaka commented on #343
This is caused by missing English Search Capitalization Relaxation and is fixed now

[2020-03-17 18:34] Madoshakalaka commented on #343
@eddieantonio sorry I was meant to submit a pr. But I accidentally pushed two commits to master.

Commit b583cbc8de00c9e835f9e8dd4d91d935a18fc27d adds capitalization
Commit 5c8cbbe83d9965e0ad5ed37d9628b365987a6bfa adds regression tests for it

[2020-03-17 18:40] eddieantonio commented on #343
@Madoshakalaka, thanks for linking the commits. Looks good!

[2020-03-17 18:51] Madoshakalaka commented on #255
@aarppe `crkeng_cw_md_200218.xml` is being used in production right now.

[2020-03-17 18:51] #255 closed

[2020-03-17 18:59] aarppe commented on #343
Re: Capitalization for English (and for Cree). Generally, I'd presume that we match searches irrespective of whether a search string is correctly or incorrectly capitalized. For Cree, the descriptive Giella FST incorporates a REGEXP for doing that, but I don't think we included that for the abbreviated FST we do ourselves. Nevertheless, for Cree content, that is by standard always in lowercase (an

[2020-03-17 19:08] eddieantonio commented on #343
I am increasingly convinced that the `engcrk.xml` is no longer the correct solution. We'll index the definitions with a tf.idf-based search with corpus weighting.

[2020-03-17 19:08] aarppe commented on #255
@Madoshakalaka How straight-forward is currently the uploading of new crk-to-eng (and eng-to-crk) XML files? I've made a few adjustments to add the MD entries for _wâpamêw_ and _mîcisow_ (and related words) to match with their CW counterparts, which had been missed out earlier.

[2020-03-17 19:15] aarppe commented on #343
Yes, `engcrk.xml` shouldn't be the correct solution, as it is generated from `crkeng.xml` and corpus/dictionary weights, with the added level of lemmatization of the words in the English definitions (supplemented to the English search indices).

But I'm presuming that on the longer term we won't be using anything like `engcrk.xml` at all, unless we get a genuine English-to-Cree dictionary source -

[2020-03-17 19:18] eddieantonio commented on #165
Moved to UAlbertaALTLab/dictionary-database-model#3.

[2020-03-17 19:18] #165 closed

[2020-03-17 20:39] Madoshakalaka commented on #255
@aarppe I'd say it's very straigh-forward. It just takes 5 minutes. However it does require some setup. I'll make a seperate issue right now for this.

[2020-03-17 20:42] Madoshakalaka opened #351 "Update from crkeng_cw_md_200218.xml to engcrk_cw_md_200226.xml"
Antti has made a few additions to the file
see:
https://github.com/UAlbertaALTLab/cree-intelligent-dictionary/issues/255#issuecomment-600247687

The file is located at `/data/texts/crk/dicts/itwewina` on sapir

[2020-03-17 20:53] Madoshakalaka commented on #256
@eddieantonio don't close this for now please, I don't think the production database is built with the newest fst. I'm working on it right now.

[2020-03-17 21:30] Madoshakalaka commented on #256
@aarppe this should be achived now.

[2020-03-17 21:30] #256 closed

[2020-03-17 21:31] #269 closed

[2020-03-17 21:31] #205 closed

[2020-03-17 21:36] aarppe commented on #256
Great!

I just did my routine checks with a few select Cree and English words. In this respect, where can I find the comprehensive set of search words (Cree or English) that I presume are tested before release?

[2020-03-17 21:38] aarppe commented on #307
@Madoshakalaka Are we using this HFST (or hfstol) implementation for now, for word form recognition? If so, then this can be closed along with #256.

[2020-03-17 22:10] aarppe commented on #345
The (slighty) revised: ` crkeng_cw_md_200314.xml` is now on sapir in: `/data/texts/crk/dicts/itwewina/`

[2020-03-17 23:13] aarppe commented on #345
I also created the revised corresponding: `engcrk_cw_md_200317.xml`, also now on `sapir` in the directory mentioned above.

There's a few single quotes in the revised files, which I hope do not matter in the XML. If they do, one can convert those to the `&apos;` if needed.

[2020-03-17 23:18] aarppe commented on #345
@Madoshakalaka The revised XML files, for both the crk-to-eng and eng-to-crk directions, adding a few select frequent MD items are now ready on sapir (see names and directories above). The revision resulted in also multi-word items getting proper ranks in `engcrk.xml`, when those are available in CW.

Before replacing the current content (which already works), please really do double-check program

[2020-03-18 02:59] aarppe opened #353 "Still some English proper names not matched"
When typing in the following English proper names, no match including the proper target word is made, e.g.

[code]

[2020-03-18 19:05] Madoshakalaka commented on #307
@aarppe Yes, we are currently using the newest `.hftstol` files

[2020-03-18 19:05] #307 closed

[2020-03-18 20:31] aarppe opened #354 "Update dictionary DB with latest crk-to-eng and eng-to-crk source"
Upload the crk dictionary database with the revised crk-to-eng and eng-to-crk source (addition of some MD entries and revised ranks/weights) created in  #345.

[2020-03-18 20:32] aarppe commented on #354
@Madoshakalaka I created this as a new issue so that we could incorporate the essential content of the minutely updated XML sources from #345.

[2020-03-19 20:27] aarppe opened #355 "Preverb translations have mixed up"
Using our example wordform _ê-kî-nitawi-kâh-kîmôci-kotiskâwêyâhk_, all the preverbs get weird and incorrect definitions/translations, cf.

![image](https://user-images.githubusercontent.com/15003407/77111626-48564380-69ed-11ea-9bab-ee00e0a7f792.png)

These all appear to have multiple definitions, when there should be only one. And among the multiple translations, one appears to be correct, but the

[2020-03-20 04:52] aarppe commented on #355
@Madoshakalaka Drawing your attention to this weird issue that Arok noticed today.

[2020-03-20 07:18] Madoshakalaka commented on #355
@aarppe sure thing

[2020-03-23 18:06] eddieantonio commented on #355
@Madoshakalaka Please have a look at this soon. I want to record demos, and I can't demo the preverb feature because literally all of the preverbs are wrong! 😩

[2020-03-23 19:10] aarppe commented on #355
@Madoshakalaka This issue has a higher priority than the spoken paradigms (though that is important as well, but can wait the little while until this one is solved).

[2020-03-23 19:28] eddieantonio opened #357 "Implement the FULL paradigms"
Right now we only have the basic paradigms, but we'd like the full paradigms, displaying over 500+ wordforms for VTA verbs!

We'll need to implement the More button, as well as make the full paradigm hidden by default.

We might want to implement #131 before we tackle this issue.

N.B.: revert 0520b97a4e2aec14c49030cde1ea194089b3f952 to get the PR for this one started!

[2020-03-23 21:49] eddieantonio opened #358 "Proposal: use emoji on search results page instead of general/specific word class"
During our design QA with Diane and @kobexamoh, we considered the option of dropping the general word class text (e.g., Noun, Verb) and replacing it with the simplified emoji. I decided to implement it just for fun as can be seen in this video: https://youtu.be/55_oFnzqQas

![Screen Shot 2020-03-23 at 3 46 52 PM](https://user-images.githubusercontent.com/2294397/77366410-92a53080-6d1d-11ea-8b19-8c

[2020-03-23 22:02] aarppe commented on #358
Yes, I think that it is actually an informative and cool way to represent crucial information, and the rendition above conveys more about the nature of the verbs that just 'Verb'. I can understand that some folks will find it too cute and want more "precision".

I could imagine that for younger folks and school pupils the emojis would be the way to go, and leave out some of the stuffiness of lingu

[2020-03-23 22:04] aarppe commented on #358
Is there an emoji for a Cree/Indigenous face/person?

[2020-03-24 15:54] eddieantonio commented on #358
Nope. I used the [🧑 ADULT emoji](https://emojipedia.org/emoji/%F0%9F%A7%91/), which is supposed to be gender-neutral, which I then applied the [🏽 Fitzpatrick Type-4 skin tone modifier](https://emojipedia.org/person-medium-skin-tone/). Anecdotally, when my Indigenous friends text me with emojis representing themselves, they use this skin tone modifier, so there's that :joy:

The result is 🧑🏽

Here'

[2020-03-24 17:50] aarppe commented on #358
Since pronouns "point" to things, and we have used for now the plain English translation as `Pointing word` (some linguists even consider them verby), what if we'd use the arrow and the sign for animate/inanimate:

PrA: ➡️🧑🏽
PrI: ➡️📘

Particles are hard. I came up with the less-than-great translation `Linking word', in which case we could use the link/chain emoji:

IPC: 🔗

Preverbs are even harder

[2020-03-25 01:40] Madoshakalaka commented on #355
@aarppe Looking into it right now

[2020-03-25 01:51] Madoshakalaka commented on #355
@aarppe @eddieantonio I can't reproduce any of it both locally and in prod?? what is happening???

[2020-03-25 01:59] aarppe commented on #355
The error was there when I reported it, but seems to have gotten at least partially fixed. I don't know why or by whom, but we should know explicitly why that happened, and potentially got fixed by itself.

Nevertheless, _maci-_ still has one duplicate entry, where the readings _maci-_ 'evil, etc.' and _mâci-_ 'begin etc.' are both correct, cf.

![image](https://user-images.githubusercontent.com/1

[2020-03-25 02:20] eddieantonio commented on #355
![n725075089_288918_2774](https://user-images.githubusercontent.com/2294397/77494967-e17dc380-6e0c-11ea-98c2-37f8c5406ad4.jpg)

[2020-03-25 03:32] Madoshakalaka commented on #357
@eddieantonio Can I do this?

[2020-03-25 03:40] Madoshakalaka commented on #133
@aarppe this is algorithmically hard to do -- I tried to implement it in PR #369 but it comes with a great performance hit (presumably over 10 seconds for the query string `nipaw`).

@eddieantonio Do you have suggestions on how this should be done?

This can become much more manageable if we have a specific list of prefixes/suffixes, as then a lookup table can be built beforehand which greatly red

[2020-03-25 03:54] aarppe commented on #133
Yes, I have a recollection of having discussed that enumerating the prefixes, rather than allowing for unlimited prefix search, would be the way to go.

I can imagine how we could generate a list, or regular expression of prefix sequences which  could be skipped in order to search for stems as well. But that won't be ready for tomorrow.

But @Madoshakalaka we have thought-through prioritization fo

[2020-03-25 03:59] aarppe commented on #164
There are now tentative layouts for personal and demonstrative pronouns, to be found in giella/langs/crk as:

[code]

What needs to be checked is whether one strictly needs the dynamic FST-based generation of the pronominal forms, as in this case they can be and have been easily enumerated, but will the presentation of static forms work with the current interpretation of `*.layout` files?

[2020-03-25 04:02] Madoshakalaka commented on #133
@aarppe thanks I'll move to #354

[2020-03-25 04:03] Madoshakalaka commented on #355
@eddieantonio I love your humor

[2020-03-25 04:04] aarppe commented on #354
@Madoshakalaka Ok, but watch out that itwêwina doesn't break and we won't get again some preverb-type issues, as we have a meeting with MESC tomorrow where we're going to touch upon itwêwina.

[2020-03-25 04:13] eddieantonio commented on #357
Go for it!

El mar., 24 de mar. de 2020 21:32, Matt <notifications@github.com> escribió:

[2020-03-25 04:14] aarppe commented on #358
I was thinking if emojis for prototypical places (and time) could separately or individually be used for (Indeclinable) particles:

IPC/location - house: 🏠
IPC/time - 12 o'clock: 🕛

[2020-03-25 16:07] Madoshakalaka commented on #354
@aarppe I'm wrting a regression test on the preverb issue right now, to ensure it won't happen again. Also I'll avoid merging big changes today, so that itwewina is as stable as possible

[2020-03-25 16:26] Madoshakalaka commented on #355
@aarppe I've created a regression test to warn the developers to prevent future issues alike happen

[2020-03-25 16:26] #355 closed

[2020-03-25 16:38] Madoshakalaka commented on #351
Outdated as there's a newer xml

[2020-03-25 16:38] #351 closed

[2020-03-26 02:57] aarppe commented on #249
The immediate solution to this is in issue #258, when still working with XML format source. The longer term solution to this is the development of the Dictionary Database, which now has its own project: https://github.com/UAlbertaALTLab/dictionary-database-model

[2020-03-26 02:57] #249 closed

[2020-03-26 03:25] aarppe commented on #164
@eddieantonio You wanted these a while back. As said, for these I'm not generating the forms at all, since the forms per cells are static. Of course, we could still generate them, if that would be useful or necessary for some purpose. There's a file for that in:

`inc/paradigms/pronoun.paradigm`

[2020-03-26 04:57] aarppe commented on #358
N.B. The implementation of this issues is linked with issues #348 (and #101 to some extent).

[2020-03-26 16:03] eddieantonio commented on #164
Thanks for this! I'm not super sure what the most elegant way would be to incorporate this into itwêwina would be at the moment, but this is definitely useful!

[2020-03-26 16:06] eddieantonio commented on #164
A note about this:

The current layout paradigm parser considers anything in quotes to be a label or title.

So this:

[code]

Is a table full of labels, and none of them are actual "forms".

[2020-03-26 16:15] aarppe commented on #164
I was toying with various options, first from the old itwêwina standpoint, and in a two column layout I had more abstract row/column labels for `Speaker/Listener/Other` and `One/Many`, and then one could have used the treatment of the cells as labels to provide the exact translation of the cell content (and to distinguish niya with correponding row/column labels of `Speaker + One` as 'I' and `Spea

[2020-03-26 16:42] aarppe commented on #164
Concerning linking the two paradigms with itwêwina, for the demonstratives the animate vs. inanimate use the same lemma, i.e. _awa_ vs. _ôma_. However, for the personal pronouns the lemma is the same as the form (or one of the two variants).

I don't know exactly how paradigm generation is invoked coding-wise for nouns and verbs currently, and how that might be applied, or bended, for pronouns, gi

[2020-03-26 22:00] aarppe opened #363 "Provide more information with pop-ups for row/column labels in paradigms"
Adapting from what we have in old itwêwina, we would want to provide additional information for the row/column labels in the paradigms.

![image](https://user-images.githubusercontent.com/15003407/77700911-c5983000-6f7a-11ea-8e12-f751d94021bc.png)

The information needed can be extracted from `crk.altlabel.tsv`.

For now, we would want to present the `long linguistic feature` corresponding to the

[2020-03-27 02:54] aarppe commented on #347
@kobexamoh This is the issue that I'd focus on, once you get the ones you're working on finished, since being able to show more recordings (since we already have them) would be an important feature for the Maskwacîs Cree community where the recordings were done - they'd want to see the fruits of their labor. This will likely require some work on the backend as well. (And I'd say that I'd do this e

[2020-03-27 03:00] aarppe commented on #101
Important N.B. to whomever implements this - The plain English example words should be found in the file `crk.altlabel.tsv`.

Ideally, this would be configurable so that the user can decide with of the representations of the inflectional classes they see. And this selection might be tied with some other or meta choices, such as a linguistic (`VTA-1`) or non-linguistic mode (`like: wîcihêw`).